extends  ../layout.pug

block content
    header.page-head
        .container.px-4.px-lg-5
            .row.gx-4.gx-5-lg.align-items-center.justify-content-between.text-center.flex-column
                .col-lg-8 
                    h2.master-head--subheading.text-uppercase.font-weight-bold.text-dark Agence Bivuak
                    hr.divider.my-1.my-xs-3
                    h1.master-head--heading.text-dark Connexion
    main(style="min-height:50vh;")
        .container
            .row
                .col-sm-9.col-md-7.col-lg-5.mx-auto
                    .card.border-0.shadow.my-5
                        .card-body.p-4.p-sm-5
                            h3.card-title.text-center.mb-5.fw-light.fs-5 S'identifier sur l'Agence Bivuak
                            form(novalidate)
                            .form-floating.mb-3
                                input.needs-validation.form-control#floatingInput(required type="email" name="email" placeholder="name@example.com")
                                label(for="floatingInput") Adresse email
                                .valid-feedback Ok!
                            .form-floating.mb-3
                                input.needs-validation.form-control#password(required type="password" name="password" placeholder="Mot de passe")
                                label(for="password") Mot de passe
                                .valid-feedback Ok!
                            //- .form-check.mb-3
                            //-     input.form-check-input#rememberPasswordCheck(type="checkbox" value="")
                            //-     label.form-check-label(for="rememberPasswordCheck") Se souvenir de moi
                            .d-grid
                                button.btn.btn-primary.btn-login.text-uppercase#sendAuthBtn
                                    i.fa-solid.fa-key.me-2
                                    | S'identifier
                            //- hr.my-4
                            //- .d-grid.mb-2
                            //-     button.btn.btn-google.btn-login.text-uppercase
                            //-         i.fab.fa-google.me-2
                            //-         | S'identifier avec Google
                            //- .d-grid
                            //-     button.btn.btn-facebook.btn-login.text-uppercase(type="submit")
                            //-         i.fab.fa-facebook-f.me-2
                            //-         | S'identifier avec Facebook</button>
                            if errors
                                ul.my-2
                                    each error in errors
                                        li.text-danger= error
                            //- p.text-center.mt-3 Pas encore de compte ? Créez en un 
                            //-     a ici
    include ../includes/footer.pug
    include ../includes/scripts.pug
    script(src="/js/auth-form.js")
	
        