.nav-item {
  transition: all 320ms ease-in-out;

  &:hover {
    transform: translateX(3px);
  }

  a {
    &:hover {
      color: $secondary-mahogany !important;
    }

    &:active {
      color: $secondary-mahogany !important;
    }
  }
}
