.howto {
  position: relative;
  min-height: calc(100vh - 3rem);

  h2 {
    margin-top: 3rem;
  }

  img {
    box-shadow: 6px 6px 0 0 $secondary-cambodge;
  }
}

.grid-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
}

.homecard {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  img {
    max-width: 370px;
  }

  &--excerpt {
    position: relative;
  }

  &--list {
    padding-left: 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li:not(:first-child) {
    margin-top: 5px;
  }
}

.highlight {
  color: $secondary-cambodge;
  font-weight: 500;
}
