.value-proposition {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--intro {
    width: 80%;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  &--title {
    width: 50%;
    font-size: 5rem;
    line-height: 6rem;
  }

  &--image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90%;
  }

  &--illustration {
    position: absolute;
    top: -100px;
    right: -300px;
    z-index: -99;
    opacity: 0.05;
    height: 100%;
    overflow: hidden;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
  padding-bottom: 5rem;
}

.btn-main {
  @include button;
  transition: all 450ms ease;

  &:hover {
    cursor: pointer;
    box-shadow: 6px 8px 0px $secondary-mahogany;

    i {
      animation: iconRotate 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
        forwards;
    }
  }
}

@keyframes iconRotate {
  0% {
    transform: rotate(0);
    color: initial;
  }

  100% {
    transform: rotate(360deg);
    color: $secondary-mahogany;
  }
}
