.portfolio {
  &-grid {
    display: grid;
    margin: 7rem 0 4rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;

    &::after {
      content: "";
      display: block;
      width: 400px;
      height: 550px;
      background: url(/img/nautical_chart.webp) no-repeat right/contain;
      position: absolute;
      top: -100px;
      right: 0;
      z-index: -100;
      opacity: 0.04;
    }
  }

  &-image {
    max-width: 290px;
    border-radius: 20px;
    box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.01);
  }
}
