.portfolio {
  &-grid {
    display: grid;
    margin: 7rem 0 4rem 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    text-align: center;

    &::after {
      content: "";
      display: block;
      width: 400px;
      height: 550px;
      background: url(/img/nautical_chart.webp) no-repeat right/contain;
      position: absolute;
      top: -100px;
      right: 0;
      z-index: -100;
      opacity: 0.04;
    }
  }

  .portfolio-title {
    margin-top: 2rem;
  }
  /*&-image {
    max-width: 290px;
  }

  &-card-container {
    &:hover {
      background-color: rgba(4, 3, 4, 0.3);
    }
  }*/
}

.portfolio-card-container {
  max-width: 340px;
  max-height: 340px;
  margin: auto;
  position: relative;

  &:hover {
    cursor: pointer;

    .portfolio-card-mask {
      filter: contrast(1.3);
      background-color: hsl(39, 100%, 47%, 0.5);

      &::after {
        opacity: 0.9;
      }
    }
  }
}

.portfolio-card-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 340ms ease-in-out;
  background-color: hsla(39, 100%, 47%, 0);

  &::after {
    content: url("/img/link-solid.svg");
    width: 80px;
    opacity: 0;
    filter: invert(100%) sepia(56%) saturate(2%) hue-rotate(233deg)
      brightness(106%) contrast(101%);
  }
}
