footer.footer
	.container-fluid.bg-dark.text-light.align-items-center.justify-content-around
		.row.align-items-center.py-3
			.col-lg-4.text-lg-start 
				p © Agence Bivuak - 2022 
				p Créations de sites web | Rédaction optimisée pour le web <br /> Référencement | Ganges, Montpellier, Hérault  
			.col-lg-4.my-3.my-lg-0.footer-socials
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="Twitter")
					i.fab.fa-twitter
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="Facebook")
					i.fab.fa-facebook-f
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="LinkedIn")
					i.fab.fa-linkedin-in
			.col-lg-4.text-lg-end.footer-admin
				p
					a.link-light.text-decoration-underline(href="/mentions-legales") Mentions légales
				p Agence Bivuak | 23, rue Biron 34190 Ganges <br /> SIRET : 794 212 506 00032
		.row
			p.underfooter Code with 💗
			