footer
	.footer-container 
		ul.footer-left 
			li 
				a(src="#") Conditions générales de vente 
			li 
				a(src="#") Mentions légales 
			li 
				a(src="#") Agence bivuak © 2022
		img.logo_footer(src="/img/logo_long_light.webp" alt="" width="200")
		ul.footer-right 
			li 
				a(src="/prestation") Création sites web Montpellier 
			li 
				a(src="/prestation") Audit et optimisation SEO
			li 
				a(src="#") Design original © Agence Bivuak
