footer.footer
	.container-fluid.bg-dark.text-light.align-items-center.justify-content-around
		.row.align-items-center
			.col-lg-4.text-lg-start © Agence Bivuak - 2022
			.col-lg-4.my-3.my-lg-0
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="Twitter")
					i.fab.fa-twitter
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="Facebook")
					i.fab.fa-facebook-f
				a.btn.btn-dark.btn-social.mx-2(href="#!" aria-label="LinkedIn")
					i.fab.fa-linkedin-in
			.col-lg-4.text-lg-end
				a.link-light.text-decoration-none.me-3(href="#!") Conditions Générales de vente
				a.link-light.text-decoration-none(href="#!") Connexion
		.row
			p.underfooter Code with 💗
			