footer
	.footer-container 
		ul.footer-left 
			li 
				a(href="/users/signup/form") S'inscrire 
			li 
				a(href="/auth/signin/form") Se connecter
			li 
				a(href="/") Agence bivuak © 2022
		img.logo_footer(src="/img/logo_long_light.webp" alt="Le logo de l'Agence Bivuak" width="200")
		ul.footer-right 
			li 
				a(href="/prestation") Création sites web Montpellier 
			li 
				a(href="/prestation") Audit et optimisation SEO
			li 
				a(href="/") Design original © Agence Bivuak
