footer.footer
	.container-fluid.bg-dark.text-light.align-items-center.justify-content-around
		.row.align-items-center.py-3
			.col-lg-4.text-lg-start 
				p © Agence Bivuak - 2022 
				p Créations de sites web | Rédaction optimisée pour le web <br /> Référencement | Ganges, Montpellier, Hérault  
			.col-lg-4.my-3.my-lg-0.footer-socials
				a.btn.btn-dark.btn-social.mx-2(href="https://www.linkedin.com/company/agence-bivuak/" title="Le lien de la page de l'Agence Bivuak sur LinkedIn" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn")
					i.fab.fa-linkedin-in
				a.btn.btn-dark.btn-social.mx-2(href="https://www.instagram.com/agence.bivuak/" title="Le lien de la page de l'Agence Bivuak sur Instagram" target="_blank" rel="noreferrer noopener" aria-label="Instagram")
					i.fab.fa-instagram
				a.btn.btn-dark.btn-social.mx-2(href="https://www.facebook.com/agence.bivuak" title="Le lien de la page de l'Agence Bivuak sur Facebook" target="_blank" rel="noreferrer noopener" aria-label="Facebook")
					i.fab.fa-facebook-f
			.col-lg-4.text-lg-end.footer-admin
				p
					a.link-light.text-decoration-underline(href="/mentions-legales") Mentions légales
				p Agence Bivuak | 23, rue Biron 34190 Ganges <br /> SIRET : 794 212 506 00032
		.row
			p.underfooter Code with 💗
			