header.master-head
    .container.px-4.px-lg-5.h-100-vh
        .row.gx-4.gx-5-lg.h-100-vh.align-items-center.justify-content-center.text-center
            .col-lg-6.align-self-end
                img.logo(src="/img/logo_agence_bivuak.webp")  
            .col-lg-8.align-self-end  
                h2.master-head--subheading.text-uppercase.font-weight-bold.text-dark Ne restez pas seul.
                hr.divider
                h1.master-head--heading.text-dark Laissez-vous guider dans le web 
            .col-lg-8.align-self-baseline 
                a.btn.btn-primary.btn-xl.text-uppercase(href="#services") Tell Me More
