nav.navbar.navbar-expand-lg.fixed-top.py-3#mainNav
    .container.px-4.px-lg-5
        a.navbar-brand(href="/")
            img(src="/img/ab-logos/logo_carre_bivuak.svg" alt="Logo de l'Agence Bivuak")
        button.navbar-toggler.navbar-toggler-right#toggleBtn(type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu 
            i.fas.fa-bars.ms-1
        .collapse.navbar-collapse#navbarResponsive
            ul.navbar-nav.ms-auto.my-2.my-lg-0
                li.nav-item
                    a.nav-link(href="/#services") Services
                li.nav-item
                    a.nav-link(href="/#portfolio") Portfolio
                li.nav-item
                    a.nav-link(href="/#about") L'Agence Bivuak 
                li.nav-item
                    a.nav-link(href="/#contact") Contact
                if isAuthenticated
                    li.nav-item.dropdown
                        a.nav-link.dropdown-toggle#navbarDropdown(role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Mon espace
                        .dropdown-menu(aria-labelledby="navbarDropdown")
                            p.dropdown-header Bienvenue #{currentUser.username}
                            //-img.rounded.mx-auto.d-block(src=`/img/${currentUser.avatar}` alt="L'avatar de l'utilisateur" width="50")
                            a.dropdown-item(href="/blog") Blog
                            a.dropdown-item(href="/profile") Profil
                            .dropdown-divider
                            a.dropdown-item(href="/auth/signout") Déconnexion
                    //- li.nav-item
                    //-     a.nav-link(href="/profil") Profil
                    //- li.nav-item
                    //-     a.nav-link(href="/auth/signout") Se déconnecter

