header 
	nav.navbar 
		ul.navbar-links
			li.navbar-item 
				a(href="/") Accueil
			li.navbar-item
				a(href="/prestation") Prestation web
			li.navbar-item 
				a(href="/portfolio") Portfolio
			li.navbar-item 
				a(href="/stack") Stack 
			li.navbar-item 
				a(href="/blog") Blog 
			li.navbar-item 
				a(href="/contact") Contact
	img(src="img/logo_small.webp" alt="Logo de l'Agence Bivuak" width="50" height="50")