header 
	nav.navbar 
		ul.navbar-links
			li.navbar-item 
				a(href="#creation") Création site web
			li.navbar-item
				a(href="#creation") SEO/SEA 
			li.navbar-item 
				a(href="#portfolio") Portfolio
			li.navbar-item 
				a(href="#stack") Stack 
			li.navbar-item 
				a(href="#") Blog 
			li.navbar-item 
				a(href="#contact") Contact
	img(src="img/logo_small.webp" alt="Logo de l'Agence Bivuak" width="50" height="50")