html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #099295;
}

.page-title {
  margin-top: 3rem;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 2px solid blue;
}

section {
  width: 100%;
  position: relative;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.page {
  min-height: 100vh;
}

body {
  background-color: #fafafa;
}

.nav-item {
  transition: all 320ms ease-in-out;
}
.nav-item:hover {
  transform: translateX(3px);
}
.nav-item a:hover {
  color: #ba3d03 !important;
}
.nav-item a:active {
  color: #ba3d03 !important;
}

.value-proposition {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 4rem;
}
.value-proposition--intro {
  font-size: 1.7rem;
  line-height: 3.2rem;
  padding-top: 2rem;
}
.value-proposition--intro::after {
  content: "";
  display: block;
  width: 900px;
  height: 900px;
  background: url(/img/barry.webp) no-repeat right/contain;
  position: absolute;
  top: -100px;
  right: 0;
  opacity: 0.03;
  z-index: -99;
}
.value-proposition--title {
  font-size: 4.5rem;
  line-height: 6rem;
}
.value-proposition--image {
  position: absolute;
  bottom: 6px;
  right: 0;
  height: 45%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 2rem;
  padding-bottom: 5rem;
}

.btn-main {
  font-family: "Open Sans", sans-serif;
  appearance: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  background-color: #f09c00;
  color: #00121a;
  box-shadow: 6px 6px 0 #00121a;
  transform: skewX(-10deg);
  transition: all 450ms ease;
}
.btn-main i {
  margin-right: 1rem;
}
.btn-main:hover {
  cursor: pointer;
  box-shadow: 6px 8px 0px #ba3d03;
  color: #ba3d03;
}
.btn-main:hover i {
  animation: iconRotate 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes iconRotate {
  0% {
    transform: rotate(0);
    color: initial;
  }
  100% {
    transform: rotate(360deg);
    color: #ba3d03;
  }
}
#text-decoration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-txt {
  writing-mode: vertical-rl;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1rem;
  opacity: 0.2;
  transform: rotate(-180deg);
}

.scroll {
  margin-top: 20px;
  opacity: 0.2;
  transition: opacity 320ms ease-out;
}
.scroll:hover {
  cursor: pointer;
  opacity: 0.6;
}

.coordinates {
  position: absolute;
  bottom: 2rem;
  left: 5rem;
  opacity: 0.15;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.8rem;
}

.paragraph-hit {
  border-left: 3px solid #f09c00;
  margin-top: 2rem;
  padding-left: 10px;
}

/*.flip-box {
  background-color: transparent;
  width: 220px;
  max-width: 220px;
  height: auto;
  perspective: 1000px;

  &-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 550ms ease-in-out;
    transform-style: preserve-3d;
  }

  &:hover &-inner {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &-front {
    background-color: $secondary-cambodge;
    color: $primary-black;
  }

  &-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
}*/
.img-container {
  position: relative;
  overflow: hidden;
  max-width: 370px;
  box-shadow: 6px 6px 0 0 #f09c00;
}
.img-container[data-order="1"]::after {
  content: "";
  background-color: rgba(240, 156, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-500px);
  top: 0;
  left: 0;
}
.img-container[data-order="1"]:hover {
  animation: fadeBoxShadow 200ms ease-in-out forwards;
}
.img-container[data-order="1"]:hover::after {
  animation: appearFromLeft 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 50ms forwards;
}
.img-container[data-order="2"]::after {
  content: "";
  background-color: rgba(240, 156, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(-500px);
  top: 0;
  left: 0;
}
.img-container[data-order="2"]:hover {
  animation: fadeBoxShadow 200ms ease-in-out forwards;
}
.img-container[data-order="2"]:hover::after {
  animation: appearFromTop 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 50ms forwards;
}
.img-container[data-order="3"]::after {
  content: "";
  background-color: rgba(240, 156, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateY(500px);
  top: 0;
  left: 0;
}
.img-container[data-order="3"]:hover {
  animation: fadeBoxShadow 200ms ease-in-out forwards;
}
.img-container[data-order="3"]:hover::after {
  animation: appearFromRight 250ms cubic-bezier(0.215, 0.61, 0.355, 1) 50ms forwards;
}

@keyframes appearFromLeft {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes appearFromTop {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes appearFromRight {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes fadeBoxShadow {
  from {
    box-shadow: 6px 6px 0 0 #f09c00;
  }
  to {
    box-shadow: 0px 0px 0px 0px transparent;
  }
}
.howto {
  position: relative;
  min-height: calc(100vh - 3rem);
}
.howto h2 {
  margin-top: 3rem;
}

.grid-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
}

.homecard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.homecard--excerpt {
  position: relative;
}
.homecard--list {
  padding-left: 0;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.homecard li:not(:first-child) {
  margin-top: 5px;
}

.highlight {
  color: #f09c00;
  font-weight: 500;
}

.portfolio-grid {
  display: grid;
  margin: 7rem 0 4rem 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}
.portfolio-grid::after {
  content: "";
  display: block;
  width: 400px;
  height: 550px;
  background: url(/img/nautical_chart.webp) no-repeat right/contain;
  position: absolute;
  top: -100px;
  right: 0;
  z-index: -100;
  opacity: 0.04;
}
.portfolio-image {
  max-width: 290px;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.01);
}

.whoami::after {
  content: "";
  display: block;
  width: 380px;
  height: 380px;
  background: url(/img/profile_kevin_scheuer.webp) no-repeat right/contain;
  filter: contrast(1.3) grayscale(100%);
  position: absolute;
  top: -100px;
  right: -1px;
  z-index: -100;
}
.whoami p {
  max-width: 80%;
  margin-top: 2rem;
}
.whoami h3 {
  margin-top: 3rem;
}

.social-list {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.5;
}

.stack-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}
.stack-container::after {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background: url(/img/tree_shadow.webp) no-repeat right/contain;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: -101;
  opacity: 0.04;
}
.stack-container img {
  width: 60px;
  align-self: center;
}

.avatar {
  display: none;
  filter: contrast(1.3) grayscale(100%);
}

.contact {
  min-height: calc(100vh - 150px);
}

.iframe-container {
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
}
.iframe-container iframe {
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.location-card {
  min-width: 600px;
}
.location-card ul {
  margin-top: 6rem;
}

.contact-container {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.contact-container form::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  background: url(/img/boussole.webp) no-repeat right/contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -101;
  opacity: 0.02;
}

.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
}
.input-container input,
.input-container textarea {
  width: 100%;
  display: block;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #f09c00;
}
.input-container input {
  height: 4rem;
}
.input-container textarea {
  height: 10rem;
}

.btn-form {
  min-width: 180px;
  text-align: center;
}

.btn-form-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.contact-card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: flex-start;
}
.contact-card p {
  margin-bottom: 5rem;
  margin-top: 0;
}

footer {
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  box-shadow: 6px -6px 0 0 #f09c00;
}

.footer-container {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.footer-container li {
  margin-top: 1rem;
}
.footer-container a {
  color: #fbf8ef !important;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.3rem;
  opacity: 0.8;
}

.footer-right {
  text-align: right;
}

@media screen and (min-width: 2500px) and (max-width: 2700px) {
  .page-container {
    max-width: 2400px;
  }

  .value-proposition--title {
    font-size: 12rem;
    line-height: 12rem;
  }
  .value-proposition--intro {
    font-size: 4.5rem;
    line-height: 6rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2499px) {
  .page-container {
    max-width: 1300px;
  }

  header .navbar {
    max-width: 1250px;
  }
  header .navbar a {
    font-size: 1.7rem;
  }

  .value-proposition--intro {
    font-size: 2rem;
    line-height: 3.5rem;
  }
  .value-proposition--title {
    font-size: 6rem;
    line-height: 8rem;
  }
  .value-proposition--image {
    height: 60%;
  }

  .btn {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1440px) {
  .stack-container::after {
    bottom: -50px;
  }
}
@media screen and (max-width: 1299px) {
  .navbar {
    padding: 0 5rem;
  }

  .value-proposition--intro {
    width: 100%;
  }
  .value-proposition--title {
    width: 70%;
  }

  .btn-container {
    width: 33%;
  }

  .btn {
    font-size: 1.5rem;
  }

  .page-container {
    padding: 0 7rem;
  }

  .page02 p {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  .page02 h3 {
    margin-top: 1rem;
  }
  .page02 li {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .row {
    flex-direction: column;
  }
  .row form {
    margin-top: 5rem;
  }

  .img-container {
    max-width: 290px;
  }

  .contact-card {
    max-width: 400px;
  }

  .location-card {
    min-width: 570px;
  }
}
@media screen and (max-width: 1120px) {
  .contact-card {
    max-width: 370px;
  }

  .location-card {
    min-width: 540px;
  }
}
@media screen and (max-width: 1079px) {
  .value-proposition--image {
    display: none;
  }
  .value-proposition--intro {
    line-height: 2.9rem;
  }
  .value-proposition--title {
    width: 100%;
    font-size: 5.5rem;
    line-height: 6.5rem;
  }

  .btn-main {
    min-width: 310px;
  }

  .btn-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-container {
    font-size: 1rem;
    letter-spacing: 0;
    padding: 0 2rem;
    gap: 2rem;
  }

  .grid-container {
    gap: 1.5rem;
  }

  .img-container {
    max-width: 220px;
    align-self: center;
  }
}
.portfolio-grid {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.portfolio-grid img {
  max-width: 340px;
}

.whoami p:first-of-type {
  max-width: 85%;
}
.whoami p {
  max-width: 95%;
}
.whoami::after {
  width: 250px;
  height: 250px;
}

.contact-container {
  flex-direction: column-reverse;
  gap: 5rem;
  margin-bottom: 4rem;
}

.contact-card {
  max-width: 100%;
}
.contact-card p {
  margin-bottom: 2rem;
}

.contact-container form::after {
  width: 300px;
  height: 300px;
}

.location-card {
  min-width: 100%;
}

.contact-form textarea {
  height: 7rem;
}

.btn-form-container {
  justify-content: space-evenly;
  align-items: center;
}

.btn-form {
  min-width: 200px;
  font-size: 1.6rem;
  text-align: center;
}

.location-card ul {
  margin-top: 2rem;
}

@media screen and (max-width: 991px) {
  .whoami::after {
    content: none;
  }
  .whoami p,
.whoami p:first-of-type {
    max-width: 100%;
  }

  .stack-container img {
    max-width: 40px;
  }

  .avatar {
    display: block;
    position: absolute;
    left: -12rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .me {
    border-left: 3px solid #f09c00;
    padding-left: 10px;
    margin-left: 12rem;
    position: relative;
  }
}
@media screen and (max-width: 879px) {
  .portfolio-grid img {
    max-width: 300px;
  }
}
@media screen and (max-width: 785px) {
  .navbar-links {
    display: none !important;
  }

  #toggler {
    display: block;
  }

  .value-proposition--title {
    font-size: 3.8rem;
    line-height: 4.6rem;
  }
  .value-proposition--intro {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  .btn-container {
    flex-direction: column;
  }

  footer {
    padding: 2rem;
  }

  .footer-container {
    flex-direction: column;
    gap: 0;
  }
  .footer-container img {
    order: 1;
  }

  .footer-left,
.footer-right {
    text-align: center;
  }

  .footer-left {
    order: 2;
  }

  .footer-right {
    order: 3;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .homecard {
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
  }
  .homecard img {
    align-self: initial;
  }
  .homecard--list {
    font-size: 1.2rem;
  }
  .homecard:last-child {
    margin-bottom: 3rem;
  }
  .homecard--title {
    font-size: 2rem;
  }

  .page-title {
    font-size: 2.5rem;
  }

  .portfolio-grid {
    gap: 2rem;
  }
  .portfolio-grid img {
    max-width: 230px;
  }
}
@media screen and (max-width: 600px) {
  .value-proposition--title {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
  .value-proposition--intro {
    font-size: 1.3rem;
    line-height: 2.4rem;
  }

  .portfolio-grid {
    margin-top: 3rem;
    padding: 0 0 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .portfolio-grid img {
    max-width: 255px;
  }

  .avatar {
    display: block;
    position: relative;
    left: 50%;
    top: -10px;
    transform: translateY(0);
    transform: translateX(-50%);
  }

  .me {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
    position: relative;
  }

  .stack-container img {
    max-width: 20px;
  }

  .btn-form {
    min-width: 160px !important;
    font-size: 1.4rem;
  }

  .btn-form-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
@media screen and (max-width: 485px) {
  .navbar {
    padding: 0;
  }

  .page-container {
    padding: 0 3rem;
  }

  #text-decoration {
    left: 4px;
    font-size: 1.3rem;
  }

  .coordinates {
    font-size: 1rem;
    letter-spacing: 0.35rem;
    bottom: 0.8rem;
    left: 1.3rem;
  }

  .value-proposition {
    padding-bottom: 0;
  }
  .value-proposition--title {
    font-size: 2.7rem;
    line-height: 3.7rem;
  }
  .value-proposition--intro {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .value-proposition--intro::after {
    width: 370px;
    height: 450px;
  }

  .btn-main {
    min-width: 0;
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
