html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #099295;
}

.page-title {
  margin-top: 3rem;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 2px solid blue;
}

section {
  width: 100%;
  position: relative;
}

.page-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.page03 {
  width: 100%;
}

.page {
  min-height: 100vh;
}

body {
  background-color: #fbf8ef;
}

header {
  height: 70px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, transparent, #f09c00);
  padding: 0 20px;
}
header::after {
  content: "";
  display: block;
  width: 900px;
  height: 900px;
  background: url(/img/barry.webp) no-repeat right/contain;
  position: absolute;
  top: -60px;
  right: 0;
  opacity: 0.03;
  z-index: -99;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  width: 100%;
}
header .navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navbar-item {
  transition: all 320ms ease-in-out;
}
.navbar-item:hover {
  transform: translateX(3px);
}
.navbar-item a:hover {
  color: #ba3d03;
}

.value-proposition {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.value-proposition--intro {
  font-size: 1.5rem;
  line-height: 3rem;
}
.value-proposition--title {
  width: 65%;
  font-size: 5rem;
  line-height: 6rem;
}
.value-proposition--image {
  position: absolute;
  bottom: 6px;
  right: 0;
  height: 70%;
}
.value-proposition--illustration {
  position: absolute;
  top: -100px;
  right: -300px;
  z-index: -99;
  opacity: 0.05;
  height: 100%;
  overflow: hidden;
}

.btn-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
  padding-bottom: 5rem;
}

.btn-main {
  font-family: "Open Sans", sans-serif;
  appearance: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  background-color: #f09c00;
  color: #fbf8ef;
  box-shadow: 6px 6px 0 #00121a;
  transform: skewX(-10deg);
  transition: all 450ms ease;
}
.btn-main i {
  margin-right: 1rem;
}
.btn-main:hover {
  cursor: pointer;
  box-shadow: 6px 8px 0px #ba3d03;
}
.btn-main:hover i {
  animation: iconRotate 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes iconRotate {
  0% {
    transform: rotate(0);
    color: initial;
  }
  100% {
    transform: rotate(360deg);
    color: #ba3d03;
  }
}
#text-decoration {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-page01 {
  writing-mode: vertical-rl;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1rem;
  opacity: 0.2;
  transform: rotate(-180deg);
}

.scroll {
  margin-top: 20px;
  opacity: 0.2;
  transition: opacity 320ms ease-out;
}
.scroll:hover {
  cursor: pointer;
  opacity: 0.6;
}

.coordinates {
  position: absolute;
  bottom: 2rem;
  left: 5rem;
  opacity: 0.15;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1rem;
}

.howto {
  position: relative;
  height: calc(100vh - 3rem);
}
.howto h2 {
  margin-top: 3rem;
}
.howto img {
  box-shadow: 6px 6px 0 0 #f09c00;
}

.grid-container {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card-list {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-list i {
  margin-right: 1rem;
  color: #ba3d03;
  opacity: 1;
}

.portfolio-grid {
  display: grid;
  margin-top: 7rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
}
.portfolio-grid::after {
  content: "";
  display: block;
  width: 400px;
  height: 750px;
  background: url(../assets/img/nautical_chart.webp) no-repeat right/contain;
  position: absolute;
  right: 0;
  z-index: -100;
  opacity: 0.04;
}
.portfolio-image {
  width: 300px;
  height: 300px;
}
.portfolio-title {
  width: 50%;
}

.whoami {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.whoami::after {
  content: "";
  display: block;
  width: 380px;
  height: 380px;
  background: url(../assets/img/profile_kevin_scheuer.webp) no-repeat right/contain;
  filter: contrast(1.3) grayscale(100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}
.whoami p {
  max-width: 80%;
  margin-top: 2rem;
}

.social-list {
  width: 80%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stack-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stack-container::after {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background: url(../assets/img/tree_shadow.webp) no-repeat right/contain;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -101;
  opacity: 0.04;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 2rem;
}
.tech-grid img {
  width: 60px;
  align-self: center;
}

.contact {
  height: calc(100vh - 150px);
}

.row {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.row form::after {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  background: url(../assets/img/boussole.webp) no-repeat right/contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -101;
  opacity: 0.02;
}

.input-container {
  position: relative;
}
.input-container label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.input-container input,
.input-container textarea {
  width: 100%;
  display: block;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #f09c00;
}
.input-container input {
  height: 3rem;
}
.input-container textarea {
  height: 10rem;
}

.btn-form-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  box-shadow: 6px -6px 0 0 #f09c00;
}

@media screen and (max-width: 1440px) {
  .value-proposition--title {
    width: 44%;
  }
  .value-proposition--image {
    height: 75%;
  }

  .btn-container {
    width: 25%;
  }

  .btn {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0 5rem;
  }

  .value-proposition--intro {
    width: 100%;
  }
  .value-proposition--title {
    width: 70%;
  }
  .value-proposition--image {
    height: 55%;
  }

  .btn-container {
    width: 33%;
  }

  .btn {
    font-size: 1.5rem;
  }

  .page-container {
    padding: 0 7rem;
  }

  .grid-container {
    grid-gap: 5rem;
  }

  .page02 p {
    line-height: 1.5;
    font-size: 1.6rem;
  }
  .page02 h3 {
    margin-top: 1rem;
  }
  .page02 li {
    font-size: 1.4rem;
    margin-top: 1rem;
  }

  .row {
    flex-direction: column;
  }
  .row form {
    margin-top: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
