header.page-head
    .container.px-4.px-lg-5
        .row.gx-4.gx-5-lg.align-items-center.justify-content-between.text-center.flex-column
            .col-lg-8 
                h2.master-head--subheading.text-uppercase.font-weight-bold.text-dark Agence Bivuak
                hr.divider.my-1.my-xs-3
                h1.master-head--heading.text-dark Mentions légales
