html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

h1 {
  font-family: "Amaranth", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: $primary-green-viridian;
}

.page-title {
  margin-top: 3rem;
}

.b1 {
  border: 1px solid red;
}

.b2 {
  border: 2px solid blue;
}
