.add-article {
  min-height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-container {
  display: flex;
  gap: 1rem;
}

.article-container {
  background-color: yellow;
}
