section.page-section#about
            .container
                .text-center
                    h2 Une belle histoire
                    hr.divider.my-2
                    h3.section-subheading.text-muted De l'idée jusqu'à la réalisation
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/1.webp" alt="La rédaction optimisée pour le web, première compétence de l'Agence Bivuak")
                        .timeline-panel
                            .timeline-heading
                                h4 Des débuts par la rédaction web
                                h5.subheading.text-muted janv. 2019
                            .timeline-body 
                                p.text-muted Outre une passion de jeunesse pour le code, l'aventure Bivuak démarre par l'écriture pour le web. C'est en janvier 2019 que les premiers textes SEO sont écrits. En conjuguant la pratique et la veille permanente pour appréhender au mieux les algorithmes des moteurs de recherche, les commandes reçoivent rapidement l'adhésion des partenaires. Depuis cette date, c'est presque <strong>300 commandes qui ont été honorées</strong> sur des sujets divers et variés !
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/2.webp" alt="La formation de développeur web, étape de professionalisation capitale")
                        .timeline-panel
                            .timeline-heading
                                h4 Retour à l'école
                                h5.subheading.text-muted janv. - sept. 2021
                            .timeline-body 
                                p.text-muted Bien vite, le constat semble évident. Pour progresser dans la rédaction optimisée pour le web, il faut aussi <strong>progresser dans le développement web</strong>. En effet, contenu et contenant sont étroitement liés quand il s'agit de les rendre perceptibles. Retour en formation en quête d'un diplôme de développeur web (titre RNCP de niveau V). En plus des acquis pour la rédaction, la formation renforce les acquis et offre de nouveaux horizons. Avec elle, c'est aussi l'acquisition de la gestion de projet, les bonnes pratiques et le début de l’apprentissage permanent.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/3.webp" alt="Un homme au pied d'une montagne représente le challenge et l'ambition qui règne à l'Agence Bivuak")
                        .timeline-panel
                            .timeline-heading
                                h4 Réaliser ses rêves
                                h5.subheading.text-muted oct. - déc. 2021
                            .timeline-body 
                                p.text-muted Quatre mois intenses ont été nécessaires pour faire naître l'Agence Bivuak. Le secteur du web est très riche et nécessite des études poussées pour l’appréhender au mieux. Outre la traditionnelle étude de marché, nous avons eu la chance de croiser le chemin de réels talents de leur secteur. Ainsi, 
                                    a(href="http://pimpyourbrand.fr/" title="Lien vers le site de Pimp Your Brand" target="_blank") Carla Perez de Pimp Your Brand 
                                    | a accompagné la gestation du projet. Avec son regard de pro du marketing, elle a su sublimer les différents aspects de la future entreprise.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/4.webp" alt="Une fleur éclose pour illustrer la synthèse entre les forces déployées et le résultat : frêle mais plein de ressources")
                        .timeline-panel
                            .timeline-heading
                                h4 Une agence est née !
                                h5.subheading.text-muted janv. 2022
                            .timeline-body 
                                p.text-muted Hourra ! Après de longues nuits de rêves, de remise en question et de doute, d'espoirs et de soutiens rassurants, l'Agence Bivuak voit le jour le 1er janvier 2022. L’Agence Bivuak, c’est l’endroit qui permet de faire le point au bord du chemin. C’est la main tendue assurée qui apporte le secours en cas de besoin. C’est ici qu’on se remet sur le cap pour éviter les embûches. Parce qu’un appui efficace est un appui adapté, nous mettons notre palette technique de compétences au service de vos besoins. <strong>L’Agence Bivuak est votre partenaire face à toutes les épreuves digitales.</strong>
                    li.timeline-inverted
                       .timeline-image
                            h4 Prenons
                                br 
                                | le chemin
                                br 
                                | ensemble !