section.page-section#about
            .container
                .text-center
                    h2 Une belle histoire
                    hr.divider.my-2
                    p.section-subheading.text-muted.my-5 
                        |L’Agence Bivuak est votre
                        |<strong>agence de création de sites web à Ganges</strong> et à
                        |Montpellier, dans l’Hérault. Ensemble, faisons de votre histoire
                        |digitale un succès et donnons à votre solution la visibilité
                        |qu’elle mérite. Nous vous accompagnons pour tous vos
                        |<strong>projets de création et de refonte de site web </strong>.
                        |Par ailleurs, l'Agence Bivuak est aussi votre partenaire en
                        |<strong>rédaction optimisée pour le web </strong>. Grâce à un
                        |service de proximité et 100% personnalisé, nous réalisons des
                        |audits et toutes les <strong>optimisations SEO </strong> pour être
                        |en <strong>1ère page Google </strong>.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/1.jpg" alt="La rédaction optimisée pour le web, première compétence de l'Agence Bivuak")
                        .timeline-panel
                            .timeline-heading
                                h3 janvier 2019
                                h4.subheading Des débuts par la rédaction web
                            .timeline-body 
                                p.text-muted Outre une passion de jeunesse pour le code, l'aventure Bivuak démarre par l'écriture pour le web. C'est en janvier 2019 que les premiers textes SEO sont écrits. En conjuguant la pratique et la veille permanente pour appréhender au mieux les algorithmes des moteurs de recherche, les commandes reçoivent rapidement l'adhésion des partenaires. Depuis cette date, c'est presque 300 commandes qui ont été honorées sur des sujets divers et variés !
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/2.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h3 janvier 2021 - septembre 2021
                                h4.subheading Retour à l'école
                            .timeline-body 
                                p.text-muted Bien vite, le constat semble évident. Pour progresser dans la rédaction optimisée pour le web, il faut progresser dans le développement. En effet, contenu et contenant sont étroitement liés quand il s'agit de les rendre perceptibles. Retour en formation en quête d'un diplôme de développeur web (titre RNCP de niveau V). Par ailleurs, les acquis vont bien au-delà des espérances à comprendre la seule rédaction. Avec une formation poussée en JavaScript, front-end et back-end, c'est l'univers du code qui s'ouvre pour la future agence
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/3.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h3 octobre 2021 - décembre 2021
                                h4.ubheading Réaliser ses rêves
                            .timeline-body 
                                p.text-muted Quatre mois intenses auront été nécessaires pour travailler à fond sur le projet de l'Agence Bivuak et lui apporter toute la plus-value qu'il réclame. Outre la traditionnelle étude de marché, la stratégie de communication et la stratégie de faisabilité ont été réalisées avec l'aide de vraies pépites dans leurs domaines respectifs. Assistés par la talentueuse Carla Perez et Pimpmybrand, nous avons converti les rêves en réalité ! 
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/4.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h3 janvier 2022
                                h4.subheading Une agence est née !
                            .timeline-body 
                                p.text-muted Hourra ! Après des soirs et des nuits de rêves, mais aussi de remise en question et de doute, d'espoir déçu et de ressources nécessaires, l'Agence Bivuak voit le jour le 1er janvier 2022. Une seule idée en tête, proposer quelque chose de différent et de réaliste dans la zone. Essayer de concilier deux expertises nécessaires et être agile pour se positionner sur un grand nombre de projets. Ici, pas de profil fourre-tout, mais un carnet d'adresses de vrais professionnels de leur secteur si besoin.
                    li.timeline-inverted
                       .timeline-image
                            h4 Soyez
                                br 
                                | de la
                                br 
                                | partie !