section.page-section#contact
            .container
                .text-center
                    h2.text-light Contactez l'Agence Bivuak
                    hr.divider.my-3
                    h3.section-subheading.text-light Vous êtes à un clic de donner vie à votre projet digital.
                form#contactForm
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                label.form-label.text-light(for="name") Votre nom :
                                input.form-control.validate-text#name(type="text" name="name" required)
                                span.form-errors-infos
                            .form-group
                                label.form-label.text-light(for="email") Votre email :
                                input.form-control.validate-mail#email(type="email" name="email" required)
                                span.form-errors-infos
                            .form-group.mb-md-0
                                label.form-label.text-light(for="phone") Votre téléphone :
                                input.form-control.validate-phone#phone(type="tel" name="phone" required)
                                span.form-errors-infos
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                label.form-label.text-light(for="message") Votre message :
                                textarea.form-control#message(name="message" required)                   
                    .text-center
                        button.btn.btn-primary.btn-xl.text-uppercase#submitButton Envoyer le message
                    if errors 
                        ul.my-2 
                            each error in errors
                                li.text-danger= error