section.page-section.bg-light#team
            .container
                .text-center
                    h2 À votre service
                    hr.divider.my-2
                    h3.section-subheading.text-muted Retrouvez moi sur les réseaux sociaux !
                    .team-member
                        img.mx-auto(src="/img/profile_pic_pines.webp" alt="Kévin Scheuer, le fondateur de l'Agence Bivuak")
                        h4 Kévin Scheuer
                        p.text-muted Développeur web & rédacteur SEO
                        a.btn.btn-dark.btn-social.mx-2(href="https://twitter.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href="https://github.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Facebook profile")
                            i.fab.fa-github
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.linkedin.com/in/k%C3%A9vin-scheuer-078b1510b/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer LinkedIn profile")
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.facebook.com/scheuer.kevin/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.instagram.com/ixekev/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Instagram profile")
                            i.fab.fa-instagram
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted 
                            i.fas.fa-quote-left.pe-2
                            | Je m’appelle Kévin Scheuer et je suis <strong>développeur web certifié et rédacteur SEO professionnel</strong>. J’ai crée l’Agence Bivuak pour vous aider à surmonter tous les obstacles qui séparent votre projet du sommet ! L’Agence Bivuak est votre agence de création de sites web à Ganges et à Montpellier, dans l’Hérault. Par ailleurs, je crois profondément qu'un développeur web doit vous rendre la vie facile, pas vous la compliquer. Aussi, les maîtres-mots de l'Agence Bivuak sont : <strong>proximité, réactivité et agilité.</strong> 
                        p.large.text-muted.fst-italic Ensemble, faisons de <strong>votre histoire digitale un succès</strong> et donnons à votre solution la visibilité qu’elle mérite. 
                .row
                    .col-lg-8.mx-auto
                        .accordion.accordion-flush#accordionFlush
                            .accordion-item
                                h2.accordion-header#flush-headingOne
                                    button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne") La gestion de projet
                                .accordion-collapse.collapse#flush-collapseOne(aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush")
                                    .accordion-body À la base de tout se situe votre projet. Le comprendre en détail et vos besoins particuliers constituent une large part de ce que sera la réussite de votre projet digital. Après 8 années comme cadre commercial, je sais combien l'accompagnement dédié est un prérequis nécessaire pour faire vivre chaque projet. Mon engagement tient en quelques mots : vous garantir un accompagnement de proximité et une réactivité à toute épreuve. Parce que votre idée ne peut pas attendre. En outre, pour vous éviter de faire rimer site web avec galère, L'Agence Bivuak apporte la sécurité et la quiétude nécessaire pour tous les projets web. Par ailleurs, que vous ayez une vague idée de votre projet ou des attentes précises, nous faisons preuve d'adaptation et de flexibilité nécessaire. Car chaque projet est unique et comme nous le savons, nous veillons à un strict respect du cahier des charges abouti que nous aurons construit en amont.
                            .accordion-item
                                h2.accordion-header#flush-headingTwo
                                    button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo") La rédaction optimisée pour le web
                                accordion-collapse.collapse#flush-collapseTwo(aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush")
                                    .accordion-body On écrit pas pour le web comme on écrit pour un journal ou pour un flyer. Si ce constat peut sembler évident, trop nombreux sont encore les développeurs web qui ne se soucient pas de la perceptebilité des textes qui sont affichés sur les sites ou les applications qu'ils développent. En trois ans de pratique de la rédaction optimisée, j'ai pu comprendre le caractère indissociable qui existe entre le contenant et le contenu. De cette manière, j'aborde chaque projet en 
                            .accordion-item
                                h2.accordion-header#flush-headingThree
                                    button.accordion-button.collapsed(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree") Le développement web
                                accordion-collapse.collapse#flush-collapseThree(aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush")
                                    .accordion-body Développeur web est un métier complet et complexe pour lequel il existe une infinité de profils et de spécialités. Aujourd'hui, tant l'univers digital est large et riche, il est impossible de tout connaître. Il est capital de centrer ses apprentissages sur des fondamentaux communs et de se spécialiser dans une branche de l'univers. J'ai choisi d'étudier le plus largement possible JavaScript et les technologies qui y sont associées. Ce language informatique, crée par Brendan Eich pour le compte de la société Netscape en 1997 a bien évolué en 25. Si à l'origine ce dernier servait surtout à rendre les pages web sensibles aux interactions de l'utilisateur, il s'est enrichi de multiples fonctionnalités et paradigmes qui lui offrent aujourd'hui d'être un langage parfaitement complet. En effet, il permet une approche orientée utilisateur ou encore de construire des serveurs web. Bien sûr, à l'image de tous les langages informatiques, celui-ci n'est ni parfait ni sans failles. Ceci dit, c'est un langage qui est très pratiqué par la communauté et qui s'améliore d'années en années. 