section.page-section.bg-light#team
            .container
                .text-center
                    h2 À votre service
                    hr.divider.my-2
                    h3.section-subheading.text-muted Retrouvez moi sur les réseaux sociaux !
                    .team-member
                        img.mx-auto(src="/img/profile_pic_pines.webp" alt="Kévin Scheuer, le fondateur de l'Agence Bivuak")
                        h4 Kévin Scheuer
                        p.text-muted Développeur web & rédacteur SEO
                        a.btn.btn-dark.btn-social.mx-2(href="https://twitter.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href="https://github.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Facebook profile")
                            i.fab.fa-github
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.linkedin.com/in/k%C3%A9vin-scheuer-078b1510b/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer LinkedIn profile")
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.facebook.com/scheuer.kevin/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.instagram.com/ixekev/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Instagram profile")
                            i.fab.fa-instagram
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted 
                            i.fas.fa-quote-left.pe-2
                            | Je m’appelle Kévin Scheuer et je suis <strong>développeur web certifié et rédacteur SEO professionnel</strong>. J’ai crée l’Agence Bivuak pour vous aider à surmonter tous les obstacles qui séparent votre projet du sommet ! L’Agence Bivuak est votre agence de création de sites web à Ganges et à Montpellier, dans l’Hérault. Par ailleurs, je crois profondément qu'un développeur web doit vous rendre la vie facile, pas vous la compliquer. Aussi, les maîtres-mots de l'Agence Bivuak sont : <strong>proximité, réactivité et agilité.</strong> 
                        p.large.text-muted Ensemble, faisons de <strong>votre histoire digitale un succès</strong> et donnons à votre solution la visibilité qu’elle mérite. 