section.page-section.bg-light#portfolio
            .container
                .text-center
                    h2.mt-0 Portfolio
                    hr.divider.my-2
                    h3.section-subheading.text-muted Découvrez les toutes dernières réalisations de l'Agence Bivuak !
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal1")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_scho.webp" alt="Le site e-commerce de Scho.fr, développé sous Wordpress")
                            .portfolio-caption
                                .portfolio-caption-heading schö.fr 
                                .portfolio-caption-subheading.text-muted Création e-commerce Woocommerce 
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal2")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_gitesinoccitanie.webp" alt="Le site du Mas de Fougairolles, développé sous Wordpress")
                            .portfolio-caption
                                .portfolio-caption-heading gitesinoccitanie.com 
                                .portfolio-caption-subheading.text-muted Refonte site web 
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal3")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_lavantarium.webp" alt="Le site de l'Avantarium, développé sous Wordpress/Woocommerce")
                            .portfolio-caption
                                .portfolio-caption-heading lavantarium.com 
                                .portfolio-caption-subheading.text-muted Création site Wordpress 
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal4")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_tipcalculator.webp" alt="L'application Tip Calculator, développée en HTML5/CSS3 et JavaScript ES6")
                            .portfolio-caption
                                .portfolio-caption-heading Tip calculator 
                                .portfolio-caption-subheading.text-muted Application JavaScript vanilla 
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal5")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_moovies.webp" alt="L'application Moovies, développée en React")
                            .portfolio-caption
                                .portfolio-caption-heading Moovies 
                                .portfolio-caption-subheading.text-muted Application React.js 
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal6")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_groupoapp.webp" alt="L'application GroupoApp, développée en Vue.js et Node.js avec MySQL")
                            .portfolio-caption
                                .portfolio-caption-heading GroupoMania 
                                .portfolio-caption-subheading.text-muted Application Vue.js 