.portfolio-modal.modal.fade#portfolioModal1(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 schö.fr
                                    p.item-intro.text-muted Les monstres les plus cools de l'univers !
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_scho.webp" alt="Le site e-commerce de Scho.fr, développé sous Wordpress")
                                    p.text-justify Installée à Strasbourg, la taluentueuse Lucie Schosseler, maquilleuse SFX et scultprice, a fait appel à l'Agence Bivuak pour mettre sur pied
                                        | son <strong>projet de site web e-commerce</strong>. Pour elle, c'était l'occasion de permettre à ses créatures de débarquer sur Terre ! 
                                    h3 Le projet de Schö en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify Sur cette <strong> plateforme Wordpress/Woocommerce</strong> 
                                        | nous avons intégré un template existant et l'avons adapté et enrichi avec le plugin Elementor. 
                                        | Par ailleurs, une large part des textes présents sur le site ont été réalisés et optimisés par l'Agence Bivuak pour offrir une perceptibilité maximale.  
                                    p.text-muted Pour ce <strong>site web mobile first</strong>, nous avons pu intégrer un module de paiement 
                                        | et de suivi des livraisons.  
                                        | En plus de quelques scripts custom qui ont été ajoutés pour les besoins de la plateforme, nous avons accompagné 
                                        | Lucie pour qu'elle soit autonome avec son nouvel outil commercial. Fortement demandées, 
                                        | ses petites créatures Xarlaxx ont nécessité une surveillance accrue lors des 
                                        | pics de charge du serveur ! Tout s'est parfaitement déroulé et tous les extra-terrestres logent désormais chez 
                                        | leurs nouveaux propriétaires. Vous pouvez découvrir ce projet en ligne 
                                        a(href="https://scho.fr" target="_blank") ici
                                        |. 
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | scho.fr
                                        li
                                            strong Catégorie : 
                                            | Création sites web                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
.portfolio-modal.modal.fade#portfolioModal2(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 gitesinoccitanie.com
                                    p.item-intro.text-muted Des hébergements intemporels en Occitanie
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_gitesinoccitanie.webp" alt="Le site du Mas de Fougairolles, développé sous Wordpress")
                                    p.text-justify Pour son projet de <strong>refonte de site web</strong>, Stéphanie Maurel, gérante du gîte L'Oustal a chargé l'Agence Bivuak de redonner une nouvelle image à sa plateforme de marque.
                                    h3 Le projet de Gîtes in occitanie en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify En ligne depuis 2013, le site original en ASP.NET présentait plusieurs contraintes pour la gérante.  
                                        | Nous avons décidé de déployer une nouvelle identité visuelle avec une interface d'administration dédiée. 
                                        | L'Agence Bivuak a proposé à Stéphanie différentes maquettes pour respecter le cahier des charges construit ensemble.   
                                    p.text-muted Ce <strong>site multilangues</strong>, a été développé sous Wordpress avec Divi  
                                        | en mobile-first, avec une approche toujours <strong>100% adapté à toutes les résolutions d'écran</strong>.   
                                        | Nous avons pu synchroniser des calendriers de réservation, développer et adapter un formulaire de contact en cohérence avec les besoins précis du projet.
                                        | Ainsi, ce nouveau projet est davantage conforme aux spécifications actuelles (sécurité des échanges, format d'images, contrastes).   
                                        | Découvrez la beauté et la singularité de ces gîtes d'exception et réservez votre prochain séjour en Cévennes,    
                                        a(href="https://gitesinoccitanie.fr" target="_blank") en visitant le site du Mas de Fougairolles
                                        | . 
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | gitesinoccitanie.com
                                        li
                                            strong Catégorie : 
                                            | Création sites web                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
.portfolio-modal.modal.fade#portfolioModal3(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 lavantarium.com
                                    p.item-intro.text-muted Créations originales, douces et poétiques à Ganges, dans l'Hérault
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_lavantarium.webp" alt="Le site de l'Avantarium, développé sous Wordpress/Woocommerce")
                                    p.text-justify Afin de permettre à ses clients de découvrir ses créations artisanales, Delphine Savoye Leblanc a fait confiance à l'<strong>Agence Bivuak pour créer son site e-commerce</strong>
                                    h3 Le projet de L'Avantarium en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify Après l'ouverture d'un boutique à Ganges, non loin de Montpellier, L'Avantarium a ouvert les portes de son e-shop, <strong>développé sous Wordpress & Woocommerce</strong>.  
                                        | Après s'être basé sur un design original, nous avons pris en charge la totalité de la création de ce site e-commerce.  
                                        | En effet, l'Agence Bivuak s'est occupé de la création des fiches articles, photos et textes.   
                                    p.text-muted Outre les prérequis nécessaires pour mettre sur pied un <strong> site e-commerce</strong>, le challenge consistait à synchroniser la gestion des stocks entre la boutique physique et digitale.  
                                        | Une fois son site terminé, la gérante a pu être accompagnée sur la gestion de son site et les bonnes pratiques de développement. De cette manière, elle est désormais autonome avec son outil et peut toujours compter sur l'appui de l'Agence Bivuak pour l'assister dans les phases plus critiques. 
                                        a(href="https://lavantarium.com" target="_blank") Suivez le lien 
                                        | pour découvrir la douceur des créations originales et 100% uniques de l'Avantarium.
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | lavantarium.com
                                        li
                                            strong Catégorie : 
                                            | Création sites web                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
.portfolio-modal.modal.fade#portfolioModal4(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 Tip Calculator
                                    p.item-intro.text-muted Calculateur de pourboire
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_tipcalculator.webp" alt="L'application Tip Calculator, développée en HTML5/CSS3 et JavaScript ES6")
                                    p.text-justify Petite application <strong>développée en HTML5/CSS3 et JavaScript ES6</strong> pour calculer les pourboires et leur répartition entre l'ensemble des convives.
                                    h3 Le projet de Tip Calculator en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify Cette application a été developpée en HTML5/CSS3 avec le pré-processeur SASS. Une fois le visuel mis en place et <strong>adapté à l'usage sur mobile</strong>, il a fallu coder sans framework la logique de calcul à l'aide de JavaScript. Rien de bien compliqué, mais un side-project nécessaire pour continuer à travailler ces technologies et entretenir la logique du développement. Ainsi, le code JavaScript (ES6) a été bundlé via Webpack et le transpileur Babel pour le rendre compatible à tous les navigateurs (même ceux ne prenant pas en charge ES6). De la même manière, le CSS a été préfixé pour assurer la plus grande comptabilité des différents navigateurs web.
                                    p.text-muted Si vous souhaitez tester ce petit projet personnel, vous pouvez le retrouver en 
                                        a(href="https://scheuerkev.github.io/tip-calculator-app/" target="_blank") ligne ici
                                        | . Par ailleurs, vous pouvez aussi jeter un oeil au code en détail en 
                                        a(href="https://github.com/scheuerkev/tip-calculator-app" target="_blank") suivant ce lien
                                        | .
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | projet personnel
                                        li
                                            strong Catégorie : 
                                            | Développement application                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
.portfolio-modal.modal.fade#portfolioModal5(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 Moovies 🎬
                                    p.item-intro.text-muted Application React de bibliothèque de films
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_moovies.webp" alt="L'application Moovies, développée en React")
                                    p.text-justify Application <strong>front-end développée en React.js</strong> pour afficher une bibliothèque de films et les détails d'un film au choix. 
                                    h3 Le projet Moovies en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify Cette petite application a été developpée en React.js et connectée à une API externe. L'API est en charge de fournir une liste aléatoire à l'application qui la récupère à chaque chargement. Une fois que cette liste est disponible, l'application affiche les différents films sous la forme d'une grille. Dès lors que l'on passe la souris sur l'un ou l'autre des films, on accède aux détails de chacun d'entre eux. Dans cette application créée avec Create React App, les fonctionnalités réactives du framework sont exploitées pour afficher dynamiquement les détails sans recharger le navigateur. De plus, une barre de recherche permet de recherche textuellement un film. 
                                    p.text-muted Si vous souhaitez accéder au code de ce petit projet personnel, vous pouvez le retrouver  
                                        a(href="https://github.com/scheuerkev/movieapp" target="_blank") ici
                                        | .
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | projet personnel
                                        li
                                            strong Catégorie : 
                                            | Développement application                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
.portfolio-modal.modal.fade#portfolioModal6(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Fermer la fenêtre")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 GroupoMania 
                                    p.item-intro.text-muted Réseau social d'entreprise  
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_groupoapp.webp" alt="L'application GroupoApp, développée en Vue.js et Node.js avec MySQL")
                                    p.text-justify Ce projet constitue le travail de fin d'études du cursus développeur web chez Open Classrooms. 
                                    h3 Le projet GroupoMania en détail
                                    hr.divider.my-3     
                                    p.text-muted.text-justify Après avoir reçu un brief technique, le challenge consistait à developper une application basée sur les fonctionnalités de Reddit pour une entreprise fictive. Le choix de la pile technique était laissée à l'appréciation de l'étudiant, la seule contrainte portait sur l'utilisation obligatoire d'une base de donnée relationnelle (MySQL). Lors de ce projet, j'ai commencé par développé le back-end du projet avec la base de données et le serveur sous une combo Node.js/Express. Le challenge consistait à anticiper et a construire les futures fonctionnalités de l'application. Ainsi, un processus d'authentification robuste était nécessaire, l'inscription de plusieurs comptes utilisateurs, ainsi qu'un rôle de modérateur. Dans un second temps, j'ai travaillé mon front-end pour construire la partie visuelle de l'application. J'ai construit ce dernier avec le framework Vue.js et VueX jouant le rôle de store au sein de l'application. 
                                    p.text-muted Si vous êtes curieux et que vous souhaitez voir le code de ce projet de fin d'études, vous pourrez le retrouver  
                                        a(href="https://github.com/scheuerkev/KevinScheuer_7_11092021" target="_blank") sur mon GitHub
                                        | .
                                    ul.list-inline
                                        li
                                            strong Client : 
                                            | projet de fin d'études
                                        li
                                            strong Catégorie : 
                                            | Développement application                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer