section.page-section#services
            .container.px-4.px-lg-5
                .text-center
                    h2.mt-0 Des services pour tous les projets web !
                    hr.divider.my-2
                    h3.section-subheading.text-muted Découvrez ce que l'Agence Bivuak peut faire pour vous aider à faire <strong>gagner votre visibilité sur le web</strong> !
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-code.fs-1.text-primary
                            h3.h4.mb-2 Conception de sites web
                            p.text-muted.mb-0.service-item Vous avez un <strong>projet de création de site web</strong> ou un besoin pour un site existant ? Avec l'aide d'un 
                                a(href="#team") développeur web diplômé
                                |, donnons vie ensemble à votre projet digital. De la landing page aux infrasctructures complexes sur-mesure, nous mettons le pouvoir du code au service de votre idée !
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-pen-fancy.fs-1.text-primary
                            h3.h4.mb-2 Rédaction optimisée pour le web
                            p.text-muted.mb-0.service-item Exprimer vos services et votre identité digitale sur le web ne s'improvise pas. Confiez la création de vos contenus à l'Agence Bivuak et rejoignez les 300 clients qui nous ont déjà fait confiance pour <strong>produire des textes à haute valeur ajoutée rédactionelle</strong> et être mieux perçus sur le web. 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-mountain-sun.fs-1.text-primary
                            h3.h4.mb-2 Audit SEO et référencement
                            p.text-muted.mb-0.service-item Vous souhaitez être mieux référencé? Vous désirez atteindre le sommet pour votre stratégie digitale ? Grâce aux audits SEO et aux stratégies de contenus sur mesure, nous appuyons votre site pour mettre en place les optimisations nécessaires pour <strong>accéder à la première page Google.</strong> 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-compass.fs-1.text-primary
                            h3.h4.mb-2 Guide digital personnel
                            p.text-muted.mb-0.service-item Ne vous est-il jamais arrivé de vous sentir perdu sur le web ? L'Agence Bivuak est votre <strong>agence de guides digitaux pour tous les projets web</strong>. Notre engagement : spécialiser notre accompagnement tout au long de ce parcours avec les outils dédiés pour votre projet !  