section.page-section.bg-light#testimonials
    .container.text-center   
        h2 Les avis de nos clients
        hr.divider.my-3
        h3.section-subheading La parole à celles et ceux qui font confiance à l'Agence Bivuak
    .container-fluid
        .carousel.slide.text-center.carousel-dark#carouselControls(data-bs-ride="carousel")
            .carousel-inner
                .carousel-item.active(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_lea.webp"  alt="Léa Petit, art-thérapeute à Marseille et à La Ciotat" width="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Léa Petit
                            a(href="https://www.art-therapie13.fr/" title="Lien vers le site Art-thérapie 13" rel="noopener" target="_blank") Art-thérapeute à Marseille et à La Ciotat
                            h3.my-4 Service impeccable ! 
                            p 
                                i.fas.fa-quote-left.pe-2
                                | Un grand merci pour votre disponibilité et l’efficacité de votre engagement !
                            p J’ai fait appel à l’Agence Bivuak pour la rédaction d’un article sur l’histoire condensée de l’Art-thérapie et je ne peux qu’être entièrement satisfaite du résultat. Les recherches ont été menées avec qualité et la rédaction composée avec un vrai esprit d’analyse et de synthèse. De plus, Kévin a été très à l’écoute de mes besoins, n’hésitant pas à retoucher chaque détail pour coller au sens de ce que je voulais raconter dans cet article. Il s’est également adapté à mon style d’écriture pour ne pas créer de rupture entre les textes écris par mes soins et son article. 
                            p En plus de ce travail rédactionnel plus que satisfaisant, Kévin m’a expliqué avec beaucoup de douceur et de pédagogie l’importance de l’écriture « optimisée », très importante pour le référencement sur le web. Ceci m’a permis de repenser mes contenus et m’a ouvert à une méthodologie encore inconnue pour moi.
                            p Je vous remercie infiniment Kévin pour votre accompagnement et n’hésiterai pas à refaire appel à vos services à l’avenir ! 
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_weldom.webp"  alt="Weldom Le Vigan, magasin de bricolage, décoration et jardinage" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Marie-Pierre Moulière
                            a(href="https://www.weldom.fr/magasin/213" title="Lien vers le site de Weldom le Vigan" rel="noopener" target="_blank") Gérante du magasin Weldom le Vigan
                            h3.my-4 Rapide et efficace
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Kévin est un prestataire de services à l'écoute et  très réactif. Il sait s'adapter à mes besoins et est force de proposition. 
                            p Rapidité, efficacité : l'Agence Bivuak rassemble tout ce dont j'ai besoin en tant que cheffe d'entreprise.
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_logan.webp"  alt="Catrix Logan, pierres semi-précieuses à Ganges" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Logan Catrix
                            a(href="https://catrixpierre.fr/" title="Lien vers le site de Catrix Pierre, à Ganges" rel="noopener" target="_blank") Gérant de Catrix Pierre
                            h3.my-4 Du très bon travail ! 
                            p    
                                i.fas.fa-quote-left.pe-2
                                | J’ai chargé Kévin d’écrire 150 fiches produits de mon site de vente de pierres naturelles en mai 2021. De plus, il a dû rédiger les descriptions de catégories et les différentes pages du site. 
                            p  J’ai été très satisfait des délais courts qui ont été parfaitement respectés par l'Agence Bivuak. Toutes les fiches articles et l'ensemble des textes ont été rédigés avec soin ; une attention particulière portée aux détails et au SEO. Par exemple, il n'y avait pas de répétitions, alors même que certains produits étaient similaires.
                            p J’ai beaucoup apprécié notre coopération et la pertinence des conseils qu’il a pu me donner pour mon site de e-commerce.
                            p Je recommande les services de l'Agence Bivuak sans hésiter !
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_danyl.webp"  alt="Danyl Semmache, ingénieur logiciel" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Danyl Semmache
                            p Software Engineer & Lecturer 
                            h3.my-4 Autonome, rigoureux et bon communicant 
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Kévin est l’un des meilleurs étudiants que j’ai eu plaisir à suivre durant son bachelor en développement web au sein de OpenClassrooms.
                            p  Il a su s’adapter aux différents challenges et relever tous les défis pour réussir ses projets avec brio en fournissant un code de haute qualité.
                            p Autonome, rigoureux et bon communicant, Kévin est un bon développeur, passionné, qui a su démontrer toutes ses qualités au fil de son avancée au sein de la formation. De plus, il dispose de véritables qualités humaines qui font qu'il est toujours prêt à aider les autres et à prendre des initiatives.
                            p C’est pour toutes ces qualités que je recommande Kévin !
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_delphine.webp"  alt="Delphine Savoye Leblanc, gérante de L'Avantarium" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Delphine Savoye Leblanc
                            a(href="https://lavantarium.com/" title="Lien vers le site de L'Avantarium, créations artisanales à Ganges" rel="noopener" target="_blank") Gérante de L'Avantarium
                            h3.my-4 Sérieux et l'écoute... 
                            p    
                                i.fas.fa-quote-left.pe-2
                                | J’ai contacté Kévin pour réaliser mon site internet. Je souhaitais quelque chose de poétique, d’original, d’atypique et bien entendu qui soit adapté à mon activité commerciale et puisse répondre aux différentes contraintes qui y sont liées. 
                            p Il a parfaitement compris mes besoins et mes attentes à travers son professionnalisme et son expertise. Moi qui était complètement étrangère dans le domaine du digital je me suis sentie en totale confiance et parfaitement accompagnée.
                            p Pour son sérieux et son écoute je recommande vivement Bivuak !
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_ben.webp"  alt="Benjamin Mouillaud, gérant de Roulotte-Quinta" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Benjamin Mouillaud
                            a(href="http://www.caval-quinta.fr/location-de-roulottes/" title="Lien vers la page de Roulotte-Quinta, hébergements insolites à Blandas" rel="noopener" target="_blank") Gérant de Roulotte-Quinta
                            h3.my-4 Un partenariat fluide et efficace   
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Ma collaboration avec Kévin fut très fluide et surtout il m'a permis de mieux comprendre les grands principes de la communication digitale. 
                            p Il a été capable de m'aiguiller au mieux pour que je fasse les efforts sur les points les plus pertinents de la communication de ma jeune entreprise. 
                            p Ses qualités rédactionnelles et le réseau de professionnels de son Agence Bivuak ont aussi beaucoup joué dans ma volonté de travailler avec lui. 
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_lucie.webp"  alt="Lucie Schosseler, maquilleuse SFX et sculptrice" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Lucie Schosseler
                            a(href="http://www.scho.fr" title="Lien vers le site de Schö.fr, sculptures uniques" rel="noopener" target="_blank") Maquilleuse SFX & Sculptrice
                            h3.my-4 Disponible, réactif et investi !  
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Je recommande vivement l'Agence Bivuak qui a su créer un site web à mon image, faisant preuve de créativité et étant à l'écoute de toutes mes envies. 
                            p Kévin est disponible, réactif, investi et propose un réel suivi pour un rendu optimal et soigné autant sur le référencement que sur des choix esthétiques ou la rédaction de textes SEO. 
                            p La preuve : j'ai écoulé tout mon stock en quelques jours 🙂
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonials/testimonial_stephanie.webp"  alt="Stéphanie Maurel, gérante de l'Oustal au Mas de Fougairolles" width="100" height="100")
                    .row.justify-content-center
                        .col-lg-8
                            h4 Stéphanie Maurel
                            a(href="http://www.gitesinoccitanie.com" title="Lien vers le site de gitesinoccitanie.com, " rel="noopener" target="_blank") Gérante du gîte l'Oustal, à Saint-Martial
                            h3.my-4 Précision, réactivité et efficacité !  
                            p    
                                i.fas.fa-quote-left.pe-2
                                | L'Agence Bivuak représente tout ce qu'on peut attendre d'un vrai professionnel (précision, réactivité et efficacité sont au rendez-vous). 
                            p Au niveau service, l'écoute et la grande disponibilité de Kévin sont très appréciables. Il se met à la portée du client en cherchant à simplifier les éléments parfois compliqués. 
                            p J'ai beaucoup apprécié les efforts fournis pour satisfaire mon exigence et ma précision. Il se met à complète disposition et répond aux diverses demandes en temps record. 
                            p Sa pratique de l'anglais courant est un atout considérable pour dialoguer avec les différents acteurs de la profession.
            button.carousel-control-prev(type="button" data-bs-target="#carouselControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Précédent
            button.carousel-control-next(type="button" data-bs-target="#carouselControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Suivant


                