section.page-section#testimonials
    .container.text-center   
        h2 Les avis de nos clients
        hr.divider.my-3
        p.section-subheading La parole à celles et ceux qui font confiance à l'Agence Bivuak
    .container-fluid
        .carousel.slide.text-center.carousel-dark#carouselControls(data-bs-ride="carousel")
            .carousel-inner
                .carousel-item.active(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="/img/testimonial_lea.webp"  alt="Léa Petit, art-thérapeute à Marseille et à La Ciotat" width="100")
                    .row.justify-content-center
                        .col-lg-8
                            h3 Léa Petit
                            a(href="https://www.art-therapie13.fr/" title="Lien vers le site Art-thérapie 13" target="_blank") Art-thérapeute à Marseille et à La Ciotat
                            h2.mt-4 Service impeccable ! 
                            p 
                                i.fas.fa-quote-left.pe-2
                                | Un grand merci pour votre disponibilité et l’efficacité de votre engagement !
                            p J’ai fait appel à l’<strong>Agence Bivuak pour la rédaction d’un article</strong> sur l’histoire condensée de l’Art-thérapie et je ne peux qu’être entièrement satisfaite du résultat. Les recherches ont été menées avec qualité et la rédaction composée avec un vrai esprit d’analyse et de synthèse. De plus, Kévin a été très à l’écoute de mes besoins, n’hésitant pas à retoucher chaque détail pour coller au sens de ce que je voulais raconter dans cet article. Il s’est également adapté à mon style d’écriture pour ne pas créer de rupture entre les textes écris par mes soins et son article. 
                            p En plus de ce travail rédactionnel plus que satisfaisant, Kévin m’a expliqué avec <strong>beaucoup de douceur et de pédagogie</strong> l’importance de l’écriture « optimisée », très importante pour le référencement sur le web. Ceci m’a permis de repenser mes contenus et m’a ouvert à une méthodologie encore inconnue pour moi.
                            p Je vous remercie infiniment Kévin pour <strong>votre accompagnement</strong> et n’hésiterai pas à refaire appel à vos services à l’avenir ! 
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="https://i.pravatar.cc/300"  alt="..." width="100")
                    .row.justify-content-center
                        .col-lg-8
                            h3 Biff Tanen
                            a(href="https://www.art-therapie13.fr/" title="Lien vers le site Art-thérapie 13" target="_blank") 
                            h2.mt-4 Title#2 
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Lorem ipsum dolor sit amet.
                            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, expedita pariatur rerum iure eum sint, deleniti porro repellendus voluptatibus excepturi, earum perspiciatis iste laboriosam nesciunt ullam nobis aut et fugit.
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae similique, laudantium repellendus quos odit ipsa, explicabo aspernatur cupiditate ea fugiat qui maxime expedita ut, reiciendis error mollitia ipsum voluptates tenetur cumque aliquam. Deleniti, nulla mollitia?
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat aut est enim, dolorum dicta itaque!
                .carousel-item(data-bs-interval="15000")
                    img.rounded-circle.mb-2(src="https://i.pravatar.cc/230"  alt="..." width="100")
                    .row.justify-content-center
                        .col-lg-8
                            h3 Marty MacFly
                            a(href="https://www.art-therapie13.fr/" title="Lien vers le site Art-thérapie 13" target="_blank") 
                            h2.mt-4 Lorem ipsum dolor sit. ! 
                            p    
                                i.fas.fa-quote-left.pe-2
                                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis earum ratione consectetur modi expedita vero.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repudiandae nulla velit porro repellat modi officia, ducimus facere nostrum explicabo earum aperiam quo provident. Autem sunt vel ipsum, eligendi labore laborum quidem sint error, ipsam quas qui sapiente, id voluptatem laudantium a! Perferendis, dicta perspiciatis?
                            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. A assumenda incidunt doloribus dolorum nam reiciendis harum impedit quos beatae! Facere, iure temporibus voluptatem eos dolorum doloribus doloremque beatae officia exercitationem dolores recusandae deleniti blanditiis, in aliquam veniam aliquid delectus incidunt quam eligendi corrupti dolorem vero. Id amet cumque iure.
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel necessitatibus animi laboriosam molestias illo ipsam cum.
            button.carousel-control-prev(type="button" data-bs-target="#carouselControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Précédent
            button.carousel-control-next(type="button" data-bs-target="#carouselControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Suivant