extends ../layout.pug 

block content 
	main
		section 
			.page-container 
				#text-decoration
					span.vertical-txt 05 _ somewhere we belong 
				.contact 
					h2.page-title Contactez l'Agence Bivuak !
					.contact-container 
						.location-card
							.iframe-container
								iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d369293.7800136512!2d4.244738568889165!3d43.68752521331356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2ec758b303a8c90b%3A0x1f6aabdf33f85689!2sAgence%20Bivuak%20-%20Web%20%7C%20SEO%20%7C%20R%C3%A9f%C3%A9rencement!5e0!3m2!1sfr!2sfr!4v1646676439591!5m2!1sfr!2sfr" width="600" height="450" style="border: 0" allowfullscreen loading="lazy")
							ul.location-details.paragraph-hit 
								li AGENCE BIVUAK  
								li 23, rue Biron 34190 GANGES 
								li +33 6 14 22 27 13
								li 
									a(href="mailto:agence.bivuak@gmail.com") agence.bivuak@gmail.com
								li SIRET : 794 212 506 00032 
						.contact-card
							p.paragraph-hit Vous avez un projet web ? Vous souhaitez être accompagné en rédaction SEO ? Pour toutes les demandes, vous pouvez utiliser le formulaire ci-dessous ! 		
							form.contact-form(action="#")
								.input-container 
									input#name_input(type="text" name="name" required)
									label(for="name") Votre nom : 
								.input-container 
									input#name_input(type="text" name="email" required)
									label(for="name") Votre email : 
								.input-container 
									textarea#name_input(type="text" name="message" required)
									label(for="name") Votre message : 
								.btn-form-container 
									.btn-main.btn-form Remettre à zéro 
									.btn-main.btn-form Envoyer		