extends ../layout.pug 

block content 
	main
		section.homepage 
			.page-container 
				#text-decoration 
					span.navigation-page01 01 _ adventure starts now 
				span.coordinates 27° 59’ 17.661” North | 86° 55’ 30.061” East
				.value-proposition 
					p.value-proposition--intro 
						|L’Agence Bivuak est votre
						|<strong>agence de création de sites web à Ganges</strong> et à
						|Montpellier, dans l’Hérault. Ensemble, faisons de votre histoire
						|digitale un succès et donnons à votre solution la visibilité
						|qu’elle mérite. Nous vous accompagnons pour tous vos
						|<strong>projets de création et de refonte de site web</strong>.
						|Par ailleurs, l'Agence Bivuak est aussi votre partenaire en
						|<strong>rédaction optimisée pour le web</strong>. Grâce à un
						|service de proximité et 100% personnalisé, nous réalisons des
						|audits et toutes les <strong>optimisations SEO</strong> pour être
						|en <strong>1ère page Google</strong>.
					h1.value-proposition--title Accompagnons l'ensemble de vos projets digitaux vers l'aube d'un nouveau jour...
					img.value-proposition--image(src="img/background-main.webp" alt="Un paysage de forêt au soleil couchant")
					.btn-container 
						button.btn-main 	
							i.fa-solid.fa-tree
							|Commencer une histoire 
						button.btn-main 	
							i.fa-solid.fa-compass
							|Être guidé 