extends ../layout.pug

block content 
    main 
        include ../includes/homepage/services.pug
        include ../includes/homepage/portfolio_grid.pug
        include ../includes/homepage/about.pug
        include ../includes/homepage/curriculum.pug
        include ../includes/homepage/how.pug
        include ../includes/homepage/testimonials.pug
        include ../includes/homepage/contact.pug
        include ../includes/homepage/portfolio_modals.pug