extends ../layout.pug

block content 
    main 
        section.page-section#services
            .container.px-4.px-lg-5
                .text-center
                    h2.mt-0 Des services pour tous les projets web !
                    hr.divider.my-2
                    h3.section-subheading.text-muted Découvrez ce que l'Agence Bivuak peut faire pour vous aider à faire gagner votre visibilité !
                .row.gx-4.gx-lg-5
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-code.fs-1.text-primary
                            h3.h4.mb-2 Conception de sites web
                            p.text-muted.mb-0 Vous avez un projet de création ou un besoin spécifique pour votre site web ? Avec l'accompagnement d'un développeur web diplômé, nous donnons vie ensemble à votre projet digital. De la landing page aux infrasctructures complexes sur-mesure, nous mettons le pouvoir du code à votre service !
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-pen-fancy.fs-1.text-primary
                            h3.h4.mb-2 Rédaction optimisée pour le web
                            p.text-muted.mb-0 Mettre en valeur vos services et votre identité digitale ne s'improvise pas. Rejoignez les 300 clients qui ont déjà fait confiance à l'Agence Bivuak pour produire des textes à haute valeur ajoutée rédactionelle et être mieux perçu sur le web. 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-mountain-sun.fs-1.text-primary
                            h3.h4.mb-2 Audit SEO et référencement
                            p.text-muted.mb-0 Un site web, c'est un contenant et un contenu. Grâce à nos expertises techniques, nous appuyons votre projet pour mettre en place les optimisations nécessaires pour accéder à la première page Google. 
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            .mb-2
                                i.fa-solid.fa-compass.fs-1.text-primary
                            h3.h4.mb-2 Guide digital personnel
                            p.text-muted.mb-0 Ne vous est-il jamais arrivé de vous sentir perdu dans le web ? L'Agence Bivuak est votre agence de guides digitaux pour tous les projets. Notre engagement : proposer seulement les services pour lesquels nous possédons un réél savoir-faire.
        section.page-section.bg-light#portfolio
            .container
                .text-center
                    h2.mt-0 Portfolio
                    hr.divider.my-2
                    h3.section-subheading.text-muted Découvrez les toutes dernières réalisations de l'Agence Bivuak !
                .row
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal1")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_scho.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading schö.fr 
                                .portfolio-caption-subheading.text-muted Création e-commerce Woocommerce 
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal2")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_gitesinoccitanie.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading gitesinoccitanie.com 
                                .portfolio-caption-subheading.text-muted Refonte site web 
                    .col-lg-4.col-sm-6.mb-4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal3")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/portfolio_lavantarium.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading lavantarium.com 
                                .portfolio-caption-subheading.text-muted Création site Wordpress 
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal4")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/thumbnails/4.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading Tip calculator 
                                .portfolio-caption-subheading.text-muted Application JavaScript vanilla 
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal5")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/thumbnails/5.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading Landing page 
                                .portfolio-caption-subheading.text-muted Website Design 
                    .col-lg-4.col-sm-6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle="modal" href="#portfolioModal6")
                                .portfolio-hover
                                    .portfolio-hover-content
                                        i.fas.fa-plus.fa-3x
                                img.img-fluid(src="/img/portfolio/thumbnails/6.jpg" alt="...")
                            .portfolio-caption
                                .portfolio-caption-heading Window 
                                .portfolio-caption-subheading.text-muted Photography 
        section.page-section#about
            .container
                .text-center
                    h2 Une belle histoire
                    hr.divider.my-2
                    p.section-subheading.text-muted.my-5 
                        |L’Agence Bivuak est votre
                        |<strong>agence de création de sites web à Ganges</strong> et à
                        |Montpellier, dans l’Hérault. Ensemble, faisons de votre histoire
                        |digitale un succès et donnons à votre solution la visibilité
                        |qu’elle mérite. Nous vous accompagnons pour tous vos
                        |<strong>projets de création et de refonte de site web</strong>.
                        |Par ailleurs, l'Agence Bivuak est aussi votre partenaire en
                        |<strong>rédaction optimisée pour le web</strong>. Grâce à un
                        |service de proximité et 100% personnalisé, nous réalisons des
                        |audits et toutes les <strong>optimisations SEO</strong> pour être
                        |en <strong>1ère page Google</strong>.
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/1.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h4 janvier 2019
                                h4.subheading Les débuts dans la rédaction web
                            .timeline-body 
                                p.text-muted Outre une passion de jeunesse pour le code, l'aventure Bivuak démarre par l'écriture. C'est en janvier 2019 que les premiers textes sont écrits en marque blanche pour la plupart. En conjugant la pratique et la veille permanente pour mieux appréhender les algorithmes des moteurs de recherche, les commandes recoivent l'adhésion des partenaires. Depuis cette date, c'est presque 300 commandes qui ont été honorées sur des sujets divers et variés !
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/2.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h4 janvier 2021 - septembre 2021
                                h4.subheading Retour à l'école
                            .timeline-body 
                                p.text-muted Bien vite, le constat semble évident. Pour progresser dans la rédaction optimisée pour le web, il faut progresser dans le code. En effet, contenu et contenant sont étroitement liés quand il s'agit de les rendre perceptible. Retour en formation en quête d'un diplome de développeur web (titre RNCP de niveau V). Par ailleurs, les acquis vont bien au-delà des espérances à comprendre la seule rédaction. Avec une formation poussée en JavaScript, front-end et back-end, c'est l'univers du code qui s'ouvre pour la future agence
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/3.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h4 octobre 2021 - décembre 2021
                                h4.ubheading Réaliser ses rêves
                            .timeline-body 
                                p.text-muted Quatre mois auront été nécessaires pour travailler à fond sur le projet de l'Agence Bivuak et lui apporter toute la plus-value qu'elle mérite. Outre la traditionnelle étude de marché, la stratégie de communication et la stratégie de faisabilité ont été réalisées avec des vraies pépites dans leur domaine. Ainsi assisté par la talentueuse Carla Perez et Pimpmybrand, nous avons convertit les rêves en réalité ! 
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src="/img/about/4.jpg" alt="...")
                        .timeline-panel
                            .timeline-heading
                                h4 janvier 2022
                                h4.subheading Une agence est née !
                            .timeline-body 
                                p.text-muted Hourra ! Après des soirs et des nuits de rêves, mais aussi de remise en question et de doute, d'espoir déçu et de ressources nécessaires, l'Agence Bivuak voit le jour le 1er janvier 2022. Une seule idée en tête, proposer quelque chose de différent et de réaliste dans la zone. Essayer de concilier deux expertises nécessaires et être agile pour se positionner sur un grand nombre de projet. Ici, pas de profil fourre-tout, mais un carnet d'adresse de vrais professionnels de leur secteur si besoin.
                    li.timeline-inverted
                       .timeline-image
                            h4 Soyez
                                br 
                                | de la
                                br 
                                | partie !
        section.page-section.bg-light#team
            .container
                .text-center
                    h2 À votre service
                    hr.divider.my-2
                    p.section-subheading.text-muted Retrouvez l'Agence Bivuak sur les réseaux sociaux !
                    .team-member
                        img.mx-auto(src="/img/profile_pic_pines.webp" alt="...")
                        h4 Kévin Scheuer
                        p.text-muted Développeur web & rédacteur SEO
                        a.btn.btn-dark.btn-social.mx-2(href="https://twitter.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-twitter
                        a.btn.btn-dark.btn-social.mx-2(href="https://github.com/scheuerkev" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Facebook profile")
                            i.fab.fa-github
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.linkedin.com/in/k%C3%A9vin-scheuer-078b1510b/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer LinkedIn profile")
                            i.fab.fa-linkedin-in
                        a.btn.btn-dark.btn-social.mx-2(href="#!" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Twitter profile")
                            i.fab.fa-facebook-f
                        a.btn.btn-dark.btn-social.mx-2(href="https://www.instagram.com/agence.bivuak/" target="_blank" rel="noreferrer noopener" aria-label="Kévin Scheuer Instagram profile")
                            i.fab.fa-instagram
                .row
                    .col-lg-8.mx-auto.text-center
                        p.large.text-muted Je m’appelle Kévin Scheuer et je suis développeur web certifié et rédacteur SEO professionnel. J’ai crée l’Agence Bivuak pour vous aider à surmonter tous les obstacles qui séparent votre projet du sommet !
        section.page-section#contact
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                form#contactForm
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group
                                input.form-control#name(type="text" placeholder="Your Name *")
                                .invalid-feedback A name is required.
                            .form-group
                                input.form-control#email(type="email" placeholder="Your Email *")
                                .invalid-feedback An email is required.
                                .invalid-feedback Email is not valid.
                            .form-group.mb-md-0
                                input.form-control#phone(type="tel" placeholder="Your Phone *")
                                .invalid-feedback A phone number is required.
                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0
                                textarea.form-control#message(placeholder="Your Message *")
                                .invalid-feedback A message is required.
                    .d-none#submitSuccessMessage
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            | To activate this form, sign up at
                            br 
                            a(href="https://startbootstrap.com/solution/contact-forms") https://startbootstrap.com/solution/contact-forms
                    .d-none#submitErrorMessage
                        .text-center text-danger mb-3 Error sending message!
                    .text-center
                        button.btn.btn-primary.btn-xl.text-uppercase.disabled#submitButton(type="submit") Send Message
        .portfolio-modal.modal.fade#portfolioModal1(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2 schö.fr
                                    p.item-intro.text-muted Les monstres les plus cool de l'univers !
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_scho.jpg" alt="...")
                                    p Installée à Strasbourg, la talentueuse Lucie Schosseler a fait appel à l'Agence Bivuak pour mettre sur pied son projet e-commerce et ainsi permettre à ses créatures de débarquer sur Terre ! Sur cette plateforme Wordpress/Woocommerce nous avons intégré un template existant et l'avons modifié avec Elementor. 80% des textes ont été réalisés et optimisés par l'Agence Bivuak pour une perceptibilité maximale. En plus des quelques scripts custom qui ont été ajoutés en fonction des besoins de la plateforme, nous avons accompagné Lucie pour qu'elle puisse être totalement autonome avec son nouvel outil commercial. Fortement demandées, ses petites créatures Xarlaxx ont nécessité toute notre attention avec une surveillance accrue lors des pics de charge sur le serveur ! Tout s'est parfaitement déroulé et tous les extra-terrestres logent chez leurs nouveaux propriétaires. Sur ce projet mobile first, nous avons pu intégrer un module de paiement et de suivi des livraisons. Vous pouvez découvrir ce projet en ligne 
                                        a(href="https://scho.fr" target="_blank") ici 
                                    | . 
                                    ul.list-inline
                                        li
                                            strong Client :
                                            | Threads
                                        li
                                            strong Category :
                                            | Création sites web                                    
                                    button.btn.btn-primary(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                        | Fermer
        .portfolio-modal.modal.fade#portfolioModal2(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_gitesinoccitanie.jpg" alt="...")
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    ul.list-inline
                                        li
                                            strong Client:
                                            | Threads
                                        li
                                            strong Category:
                                            | Illustration                                    
                                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                    | Close Project
        .portfolio-modal.modal.fade#portfolioModal3(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/portfolio_lavantarium.jpg" alt="...")
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    ul.list-inline
                                        li
                                            strong Client:
                                            | Threads
                                        li
                                            strong Category:
                                            | Illustration                                    
                                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                    | Close Project
        .portfolio-modal.modal.fade#portfolioModal4(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/fullsize/1.jpg" alt="...")
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    ul.list-inline
                                        li
                                            strong Client:
                                            | Threads
                                        li
                                            strong Category:
                                            | Illustration                                    
                                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                    | Close Project
        .portfolio-modal.modal.fade#portfolioModal5(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/fullsize/1.jpg" alt="...")
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    ul.list-inline
                                        li
                                            strong Client:
                                            | Threads
                                        li
                                            strong Category:
                                            | Illustration                                    
                                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                    | Close Project
        .portfolio-modal.modal.fade#portfolioModal6(tabindex="-1" role="dialog" aria-hidden="true")
            .modal-dialog
                .modal-content
                    .close-modal(data-bs-dismiss="modal")
                        img(src="/img/close-icon.svg" alt="Close modal")
                    .container
                        .row.justify-content-center
                            .col-lg-8
                                .modal-body
                                    h2.text-uppercase Project Name
                                    p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
                                    img.img-fluid.d-block.mx-auto(src="/img/portfolio/fullsize/1.jpg" alt="...")
                                    p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                    ul.list-inline
                                        li
                                            strong Client:
                                            | Threads
                                        li
                                            strong Category:
                                            | Illustration                                    
                                    button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss="modal" type="button")
                                        i.fas.fa-xmark.me-1
                                    | Close Project