extends ../layout.pug 

block content 
    #maintenance 
        img.logo(src="img/logo_bivuak_wide.webp" alt="Logo Agence Bivuak")
        h1#maintenance--title Nous soignons les derniers détails...
        #maintenance--illustration__container   
            p En attendant la mise en ligne du site, vous pouvez nous contacter par 
                a.mail(href="mailto:agence.bivuak@gmail.com") mail
                |  ou par téléphone au 0614222713
            img(src="img/details.svg", alt="L'illustration d'une fille manipulant un ordinateur")
    #maintenance--footer 
        p © Agence Bivuak 2022