extends ../layout.pug 

block content 
	main
		section 
			.page-container 
				#text-decoration
					span.vertical-txt 03 _ a path to somewhere cool and wild
				.page.portfolio 
					h2.page-title Les réalisations de l'Agence Bivuak pour vos projets web
					.portfolio-grid
						.portfolio-card 
							img.portfolio-image(src="img/wordpress.webp" alt="")
							h3.portfolio-title Création et refonte de site web 
						.portfolio-card 
							img.portfolio-image(src="img/woocommerce.webp" alt="")
							h3.portfolio-title Création e-commerce Woocommerce
						.portfolio-card 
							img.portfolio-image(src="img/landing.webp" alt="")
							h3.portfolio-title Création landing page professionnelle 
						.portfolio-card 
							img.portfolio-image(src="img/module_css.webp" alt="")
							h3.portfolio-title Développement site mobile-first 
						.portfolio-card 
							img.portfolio-image(src="img/wordpress.webp" alt="")
							h3.portfolio-title Création module HTML5/CSS3
						.portfolio-card 
							img.portfolio-image(src="img/wordpress.webp" alt="")
							h3.portfolio-title Développement feature JavaScript