extends ../layout.pug 

block content 
	main
		section 
			.page-container 
				#text-decoration
					span.vertical-txt 03 _ a path to somewhere cool and wild
				.portfolio 
					h2.page-title Les réalisations de l'Agence Bivuak pour vos projets web
					.portfolio-grid
						.portfolio-card
							a(href="https://lavantarium.com" title="Visiter le site" target="_blank")
								.portfolio-card-container 
									img.portfolio-card-image(src="img/portfolio_lavantarium.webp" alt="Le site de L'Avantarium")
									.portfolio-card-mask
							h3.portfolio-title Développement site mobile-first 
						.portfolio-card
							a(href="https://scho.fr" title="Visiter le site" target="_blank")
								.portfolio-card-container  
									img.portfolio-image(src="img/portfolio_scho.webp" alt="Le site de Schö")
									.portfolio-card-mask
							h3.portfolio-title Création e-commerce Woocommerce
						.portfolio-card
							a(href="#" title="Visiter le site" target="_blank")
								.portfolio-card-container   
									img.portfolio-image(src="img/portfolio_gitesinoccitanie.webp" alt="Le site de Gîtes in Occitanie")
									.portfolio-card-mask
							h3.portfolio-title Création et refonte de site 
						.portfolio-card
							a(href="https://scheuerkev.github.io/faq-accordion-card-main/" title="Voir en live" target="_blank")
								.portfolio-card-container  
									img.portfolio-image(src="img/portfolio_FAQ.webp" alt="Un accordéon JS pour présenter les FAQ")
									.portfolio-card-mask
							h3.portfolio-title Développement feature JavaScript ES6 
						.portfolio-card 
							a(href="https://scheuerkev.github.io/NFT-preview-card-component/" title="Voir en live" target="_blank")
								.portfolio-card-container
									img.portfolio-image(src="img/portfolio_feature.webp" alt="")
									.portfolio-card-mask
							h3.portfolio-title Création module HTML5/CSS3
						.portfolio-card 
							a(href="https://scheuerkev.github.io/stats-preview-card-component/" title="Voir en live" target="_blank")
								.portfolio-card-container
									img.portfolio-image(src="img/portfolio_pureHTMLCSS.webp" alt="")
									.portfolio-card-mask
							h3.portfolio-title Création landing page professionnelle