extends ../layout.pug 

block content 
	main
		section 
			.page-container 
				#text-decoration
					span.vertical-txt 04 _ an ocean between the waves
				.whoami 
					h2.page-title Pourquoi l'Agence Bivuak ?
					p 
						| Ne vous est-il jamais arrivé de vous sentir perdu sur le web ? Si le digital constitue 
						| un formidable outil pour faire gagner sa visibilité, il peut aussi être difficile d'accès. 
						| J'ai voulu créer cette agence centrée autour d'une promesse : celle de ne laisser 
						strong.highlight personne au bord de la route !
					p.me 
						img.avatar(src="/img/profile_pic.webp" alt="Ma photo de profil, Kévin Scheuer" width="100" height="100")
						| Je m’appelle Kévin Scheuer et j’ai créé l’Agence Bivuak en 2022. 
						| Après huit années en tant que cadre commercial, j’ai voulu enrichir mes expériences marketing dans les univers du web.
						| Le développement web était une passion depuis l'adolescence et c'est tout naturellement que j'ai mis à profit toutes mes connaissances en 
						| infrastructure digitale au service de ce beau projet. Au cours de l’année 2021, 
						| j’ai validé et étendu mes acquis à travers l’obtention d’un 
						strong.highlight titre RNCP de développeur web. 
						| Depuis, je n’ai de cesse de continuer à me former quotidiennement sur de nombreuses technologies du web.
					p 
						| Voilà plusieurs années que je suis également rédacteur SEO. Cette approche de la production de contenus orientés pour le web 
						| permet de produire des 
						strong.highlight contenus à haute valeur ajoutée 
						|pour l'outil digital. Dans ce mode de rédaction très spécifique,
						| le fond prime autant que la forme. En effet, c'est la perceptibilité qui devient le maître-mot : il est capital de savoir composer entre lisibilité 
						| et performance pour être le mieux référencé possible.
					p 
						| Choisir l’Agence Bivuak pour votre projet web c'est opter pour un contenu aussi soigné que le contenant.
						| De la même manière, 
						strong.highlight l'Agence Bivuak s'engage à 110% pour votre visibilité. 
						| Sans code, pas de site web, sans plume, pas de site web.
						| Alors, conjuguons les passions pour vous apporter enfin le résultat à la hauteur de ce que votre entreprise mérite !
						| De mon expérience du commerce de proximité, je sais combien l'accompagnement est indissociable de tout projet. C'est avec ces valeurs humaines
						| que j'aborde chaque nouveau challenge.
					p 
						| Le web est en permanente évolution. Le nombre des technologies est tout aussi croissant. Impossible de tout maîtriser, et prétendre le contraire serait inexact.
						| Nous avons fait le pari d'une pile technique moderne, actuelle, robuste et évolutive. 
						| Centrée autour de JavaScript, ses possibilités couvrent un grand nombre de besoins courants et spécifiques.
						| La raison d'être de l'Agence est aussi de livrer des productions en phase avec les usages actuels. Ainsi, 
						| nous mettons un point d'honneur à créer des 
						strong.highlight architectures accessibles et sécurisées.  	
					h3 Suivez l'Agence Bivuak sur les réseaux !
					ul.social-list 
						li 
							i.fa-brands.fa-linkedin.fa-3x 
						li 
							i.fa-brands.fa-github-square.fa-3x
						li 
							i.fa-brands.fa-twitter-square.fa-3x
						li 
							i.fa-brands.fa-facebook-square.fa-3x
						li 
							i.fa-brands.fa-instagram-square.fa-3x
					h3 Les technologies maîtrisées 
					.stack-container 
							img(src="img/html5.webp" alt="Logo d'HTML5")
							img(src="img/css3.webp" alt="Logo de CSS3")
							img(src="img/js.webp" alt="Logo de JavaScript")
							img(src="img/nodejs.webp" alt="Logo de NodeJS")
							img(src="img/mongodb.webp" alt="Logo de Mongo DB")
							img(src="img/sass.webp" alt="Logo du préprocesseur SASS")
							img(src="img/react.webp" alt="Logo de React")
							img(src="img/vuejs.webp" alt="Logo de Vue.js")
							img(src="img/git.webp" alt="Logo de Git")
							img(src="img/docker.webp" alt="Logo de Docker")
							img(src="img/figma.webp" alt="Logo de Figma")
							img(src="img/wordpress_logo.webp" alt="Logo de WordPress")