extends ../layout.pug 

block content 
	main
		section 
			.page-container 
				#text-decoration
					span.vertical-txt 02 _ a wild journey to success
				.howto 
					h2.page-title Comment Bivuak peut vous aider sur votre projet web ?
					.grid-container
						.homecard
							.img-container(data-order="1")
								img.creation(src="img/creation.webp" alt="")
							h3.homecard--title Création et refonte tous sites web 
							p.homecard--excerpt.paragraph-hit Avec l’expertise technique d’un 
								strong.highlight développeur web diplômé, 
								| partez à la conquête de votre prochain outil digital.
							ul.homecard--list 
								li CMS : Wordpress, Woocommerce, Prestashop, Strapi...
								li Intégration HTML5/CSS3/SASS : site web full-responsive, mobile-first
								li Développement JavaScript ES6
								li Sites web from scratch
								li Développement SPA : React.js, Vue.js
								li Développement backend : Node.js, MongoDB
								li Développement PWA
								li Projets spécifiques : vitrine, e-commerce, m-commerce
						.homecard
							.img-container(data-order="2")
								img.redaction(src="img/redaction.webp" alt="")
							h3.homecard--title Rédaction optimisée pour le web
							p.homecard--excerpt.paragraph-hit Vous cherchez un rédacteur pour votre projet web ? Les qualités techniques d’un 
								strong.highlight copywriter SEO professionnel 
								| permettent de valoriser tous vos contenus.
							ul.homecard--list 
								li Rédaction orientée pour le web : création ou réécriture
								li Identification des opportunités des champs sémantiques et syntaxiques
								li Stratégies basées sur les mots clés : courte traine et longue traine
								li Stratégies de partenariats : netlinking et acquisition de backlinks
								li Architecture du contenu : siloing et cocons sémantiques
						.homecard
							.img-container(data-order="3")  
								img.seo(src="img/seo.webp" alt="")
							h3.homecard--title Audit SEO/SEA
							p.homecard--excerpt.paragraph-hit L'optimisation pour les moteurs de recherche requiert des qualités techniques et rédactionnelles qui sont 
								strong.highlight maîtrisées de bout en bout à l’Agence Bivuak.
							ul.homecard--list 
								li SEO : formation, organisation, réalisation
								li SEA : stratégies d'achats de mots-clés sur les moteurs de recherche
								li Content marketing : inbound strategies et storytelling d'entreprise
								li Audits techniques : Lighthouse, GTMetrix
								li Audits d'accessibilité : Standards du web, WCAG
								li Audits de sécurité : Standards OWASP