extends ../layout.pug 

block content 
	main
		section.page02 
			.page-container 
				#text-decoration
					span.navigation-page01 02 _ a wild journey to success
				.page.howto 
					h2.page-title Comment Bivuak peut vous aider sur votre projet web ?
					.grid-container
						.card 
							img.creation(src="img/creation.webp" alt="")
							h3.card-title Création et refonte de site web 
							p.card-excerpt Avec l’expertise technique d’un développeur web diplômé, partez à la conquête de votre prochain outil digital.
							ul.card-list 
								li Création et refonte tous projets
								li 
									i.fa-brands.fa-wordpress-simple
									| CMS : Wordpress, Woocommerce, Prestashop, Strapi
								li 
									i.fa-brands.fa-html5
									| Intégration HTML5/CSS3/SASS : site web full-responsive, mobile-first
								li 
									i.fa-brands.fa-js-square
									| Développement JavaScript ES6
								li 
									i.fa-solid.fa-code
									| Sites web from scratch
								li 
									i.fa-brands.fa-react
									| Développement SPA : React.js, Vue.js
								li 
									i.fa-brands.fa-node-js
									| Développement backend : Node.js, MongoDB
								li 
									i.fa-solid.fa-mobile-screen-button
									| Développement PWA
								li 
									i.fa-solid.fa-vial
									| Projets spécifiques : vitrine, e-commerce, m-commerce
						.card 
							img.redaction(src="img/redaction.webp" alt="")
							h3.card-title Rédaction optimisée pour le web
							p.card-excerpt Vous cherchez un rédacteur pour votre projet web ? Les qualités techniques d’un copywriter SEO permettent de valoriser tous vos contenus.
							ul.card-list 
								li Rédaction orientée pour le web : création ou réécriture
								li Identification des opportunités des champs sémantiques et syntaxique
								li Stratégies basées sur les mots clés : courte traine et longue traine
								li Stratégies de partenariats : netlinking et acquisition de backlinks
								li Architecture du contenu : siloing et cocons sémantiques
						.card 
							img.seo(src="img/seo.webp" alt="")
							h3.card-title Audit SEO/SEA
							p.card-excerpt L'optimisation pour les moteurs de recherche requiert des qualités techniques et rédactionnelles qui sont maîtrisées de bout en bout à l’Agence Bivuak.
							ul.card-list 
								li SEO : formation, organisation, réalisation
								li SEA : stratégies d'achats de mots-clés sur les moteurs de recherche
								li Content marketing : inbound strategies et storytelling d'entreprise
								li Audits techniques : Lighthouse, GTMetrix
								li Audits d'accessibilité : Standards du web, WCAG
								li Audits de sécurité : Standards OWASP