extends ../layout.pug 

block content 
	main
		section.page04 
			.page-container 
				#text-decoration
					span.vertical-txt 04 _ an ocean between the waves
				.page.whoami 
					h2.page-title Qui suis-je ?
					p Je m’appelle Kévin Scheuer et j’ai créé l’Agence Bivuak en 2022. Ancien directeur commercial, j’ai mis à profit mes connaissances en code et en infrasctructure digitale au service de ce beau projet. Au cours de l’année 2021, j’ai confirmé mes connaissances et mes apprentissages par l’obtention d’un diplôme de développeur web. Depuis, je n’ai de cesse de continuer à me former sur de nombreuses tech.
					p Passionné de littérature et de sport de pleine nature, c’est tout naturellement que j’ai choisi de construire un projet à taille humaine, centrée sur l’accompagnement d’objectifs client centric.
					p L’Agence Bivuak c’est l’idée de venir vers chaque client avec l’essentiel des qualités techniques requises pour un projet web. Sans code, pas de site web, sans plume, pas de site web. Ici, à l’Agence Bivuak, tout est maîtrisé et travaillé quotidiennement pour proposer les meilleures prestations possibles au service de votre visibilité.
					h3 Suivez l'Agence Bivuak sur les réseaux !
					ul.social-list 
						li 
							i.fa-brands.fa-linkedin.fa-3x 
						li 
							i.fa-brands.fa-github-square.fa-3x
						li 
							i.fa-brands.fa-twitter-square.fa-3x
						li 
							i.fa-brands.fa-facebook-square.fa-3x
						li 
							i.fa-brands.fa-instagram-square.fa-3x
					.stack-container 
						.tech-grid 
							img(src="img/html5.webp" alt="Logo d'HTML5")
							img(src="img/css3.webp" alt="Logo de CSS3")
							img(src="img/js.webp" alt="Logo de JavaScript")
							img(src="img/nodejs.webp" alt="Logo de NodeJS")
							img(src="img/mongodb.webp" alt="Logo de Mongo DB")
							img(src="img/sass.webp" alt="Logo du préprocesseur SASS")
						.
							h4 Technologies 
							p La pile technique est très orientée front avec des connaissances poussées en Node.js pour des infrasctructures légères et fonctionnelles.
						.tech-grid 
							img(src="img/react.webp" alt="Logo de React")
							img(src="img/vuejs.webp" alt="Logo de Vue.js")
							img(src="img/git.webp" alt="Logo de Git")
							img(src="img/docker.webp" alt="Logo de Docker")
							img(src="img/figma.webp" alt="Logo de Figma")
							img(src="img/wordpress_logo.webp" alt="Logo de WordPress")