//extends ../layout.pug 

block content 
    main
        section.add-article 
            .page-container 
                .d-flex.flex-row.content.mx-auto
                    .flex-fill
                        form.card(method="post" action="#")
                            .card-header Écrire un article 
                            .card-body 
                                .form-group
                                    textarea.form-control(name="title" placeholder="Le titre ici")= article.title
                                    //= article.title 
                                    textarea.form-control(name="content" placeholder="Le contenu ici")= article.content
                                    //= article.content
                                if errors 
                                    ul.my-2 
                                        each error in errors
                                            li.text-danger= error    
                                .w-100 
                                    input.btn.btn-primary.ms-auto.d-block(type="submit" value="Poster")