extends ../layout.pug 

block content
    script(src="js/articles.js") 
    main
        section.add-article 
            .page-container
                .blog-container 
                    .article-container#art
                        include ../blog/article.pug
                //include ../includes/sidebar.pug 
                        