extends ../layout.pug 

block content 
    main
        section.add-article 
            .page-container
                .blog-container 
                    .article-container
                        if articles     
                                each article in articles 
                                    article.article-card 
                                        h1.article-card-title= article.title 
                                        p.article-card-content= article.content
                    include ../includes/sidebar.pug 
                        