extends ../layout.pug 

block content
    script(src="js/articles.js") 
    main
        section.add-article 
            .page-container
                h1.page-title Découvrez quelques articles sur les univers du web et du marketing digital !
                p.paragraph-hit Pour satisfaire votre curiosité ou en apprendre davantage sur les technologies du web, vous retrouverez une sélection d'articles écrits par l'Agence Bivuak. N'hésitez pas à commenter ou à partager ces derniers !
                .blog-container 
                    h2 Les derniers articles 
                    .article-container#art
                        include ../blog/article.pug
                        //include ../includes/sidebar.pug 
                        