extends ../blog-layout.pug

block content 
    main
        section.page-section#blog
            .container.px-4.px-lg-5
                    .text-center
                        h2.mt-0 Les derniers articles du blog !
                        hr.divider.my-2
                        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eaque dolore explicabo!
                    .row.gx-4.gx-lg-5.justify-content-center
                        .col-md-10.col-lg-8.col-xl-7
                            if posts
                                each post in posts 
                                    .post-preview
                                        .row 
                                            .col-md-8
                                                a(href=`/blog/${post.slug}`)
                                                    h4.post-title=  post.title
                                                p.post-subtitle= post.content
                                                .d-flex.justify-content-end.mb-4
                                                    a.btn.btn-primary.text-uppercase(href="#!") Lire la suite →
                                            .col-md-4 
                                                img.img-fluid.img-preview(src=`/img/blog/${post.img}` alt="...") 
                                        p.post-meta Publié par Start Bootstrap le 24 septembre 2022
                                    hr.article-divider.my-4
                                    //- .post-preview
                                    //-     .row 
                                    //-         .col-md-8
                                    //-             a(href="#")
                                    //-                 h4.post-title Anyone is interested to half-price heartbeats ?
                                    //-             p.post-subtitle It seems like a huge part of human being need lot more
                                    //-         .col-md-4 
                                    //-             img.img-fluid.img-preview(src="https://fakeimg.pl/500x250" alt="...") 
                                    //-     p.post-meta Publié par Start Bootstrap le 3 août 2022    
                                    //-     hr.article-divider.my-4
                                    .d-flex.justify-content-end.mb-4.d-none 
                                        a.btn.btn-primary.text-uppercase(href="#!") Anciens articles →