extends ../layout.pug

block content
    header.blog-head
        .container.px-4.px-lg-5
            .row.gx-4.gx-5-lg.align-items-center.justify-content-between.text-center.flex-column
                .col-lg-8 
                    h2.master-head--subheading.text-uppercase.font-weight-bold.text-dark Agence Bivuak
                    hr.divider.my-1.my-xs-3
                    h1.master-head--heading.text-dark Article 
    main
        section.page-section#blog
            .container.px-4.px-lg-5
                if post
                    h2.mt-0.text-center= post.title
                    hr.divider.my-2
                .row.gx-4.gx-lg-5.justify-content-center
                    img.img-fluid.mx-auto(src=`/img/blog/${post.img}`)
                    .col-sm-8.mt-5 
                        .content
                            | !{post.sanitizedHtml}
                        .d-flex.mb-4
                            a.btn.btn-primary.text-uppercase.mt-5(href="/blog") Retour au blog →